-
    class Figure {

        /**
         * Constructs a figure.
         * @param {String} alt the alternative text of this figure.
         * @param {String[]} authors array of author's identification string of this figure.
         */
        constructor({
            alt, authors, locale, slug, path
        }) {
            this.locale = locale;
            this.alt = alt;
            this.authors = authors;
            this.slug = slug;
            this.path = path;
        }

        /**
         * @param {String[]} value the new identification strings of the authors of this article.
         */
        set authors(value) {
            let authors = [];
            if (value) {
                authors = Person.parsePersons(value, this.locale.slug);
            }
            this._authors = authors;
        }

        get authors() {
            return this._authors;
        }

        /**
         * @param {String} value the slug of the new locale of this article (i.e., fr-CA, en-US).
         */
        set locale(value) {
            let locale = Locale.parse(value);
            this._locale = locale;
        }

        get locale() {
            return this._locale;
        }

    }