include _utils.js.jade
include _site.js.jade
include _person.js.jade
include _locale.js.jade
include _current.js.jade
include _index.js.jade
include _localizedDate.js.jade
include _article.js.jade
include _page.js.jade
include _category.js.jade
include _figure.js.jade
include _head.js.jade
include _breadcrumbs.js.jade
include _sitemap.js.jade