include /_jade/redaction/_redaction

+h(2, "L'équation cartésienne de la parabole")

    +h(3, "L'équation canonique de la parabole")

+h(2, "La parabole dans le plan cartésien")

    +h(3, "L'intersection d'une parabole et d'une droite")

    +h(3, "Le latus rectum d'une parabole")

    +h(3, "Les inéquations et la parabole")

+h(2, "La forme générale de l'équation d'une parabole")

+tableOfContents()