include /_jade/redaction/_redaction

+h(2, "L'équation cartésienne de l'hyperbole")

    +h(3, "L'équation canonique de l'hyperbole")

+h(2, "L'hyperbole dans le plan cartésien")

    +h(3, "L'intersection d'une hyperbole et d'une droite")

    +h(3, "Le latus rectum d'une hyperbole")

    +h(3, "Les inéquations et l'hyperbole")

+h(2, "La forme générale de l'équation d'une hyperbole")

+tableOfContents()