include /_jade/redaction/redaction
//- TODO: REPLACE CONTENT
    h1 Index
    -let test = 0;
    while test <= 5
        +difficulty(test)
        -test += 0.5;
        br
    +definition("Les fonctions")
        p Une fonction...
    +example("La quadratique")
    +theorem("La formule quadratique")
        p blb
        +proof("Par la complétion du carré")
            p ba
        +proof("Par la complétion du carré")
            p ba

    +theorem("La formule quadratique")
        p blb
        +proof("Par la complétion du carré")
            p ba
        +proof("Par la complétion du carré")
            p ba

    +exercise(1, "La complétion")
        +solution("Test")
        +solution("Test")

    +exercise(5, "La complétion")
        +solution("Test")
        +solution("Test")

    +exercise(3.5, "La complétion")
        +solution("Test")
        +solution("Test")

    +reminder("bla", "http://google.com")

    +theorem("Le théorème de Pythagore")(footer = {source: "http://google.com"})
//-+section("L'optimisation des caractères")
    +section("1.1")
    +section("1.2")
        +section("1.2.1")
            +section("1.2.1.1")
            +section("1.2.1.2")
                +section("1.2.1.2.1")
                +section("1.2.1.2.2")
            +section("1.2.1.3")
        +section("1.2.2")
    +section("1.3")
        +section("1.3.1")
        +section("1.3.2")
            +section("1.3.2.1")
//-+section("2")