include /_jade/redaction/redaction

p Cette politique de confidentialité gouverne la façon par laquelle #{WEBSITE.name} collecte, utilise, maintient et divulgue les informations collectées auprès de ses utilisateurs (chacun, un «Utilisateur») du site #[a(href!=WEBSITE.url)!=WEBSITE.name] («Site»).

+section("Informations à identification personnelle")
    p Nous pouvons collecter des informations d'identification personnelle de la part des Utilisateurs de plusieurs manières, incluant, mais non limitées, lorsque les Utilisateurs visitent notre site ou remplissent des formulaires en lien avec d'autres activités, services, fonctionnalités ou ressources que nous rendons accessibles sur notre Site. Nous pouvons demander aux Utilisateurs, le cas échéant, leur nom et leur adresse courriel. Les Utilisateurs visitent cependant notre Site anonymement. Nous allons collecter les informations des Utilisateurs uniquement sur une base volontaire. Les Utilisateurs peuvent refuser en tout temps de soumettre leurs informations, mais cela peut les empêcher de prendre part à des activités liées au Site.

+section("Informations à identification non personnelles")
    p Nous pouvons collecter des informations à identification non personnelles à propos des Utilisateurs en tout temps lorsqu'ils interagissent avec notre Site. Ces informations à identification non personnelles comprennent le nom de leur fureteur, le type d'ordinateur et des informations techniques concernant le moyen de connexion des Utilisateurs à notre site, tels que le système d'exploitation et le fournisseur d'accès Internet utilisé et autres informations similaires.

+section("Témoins de navigateur")
    p Notre site peut utiliser des témoins de navigateur afin d'améliorer l'expérience des utilisateurs. Le fureteur des Utilisateurs place des témoins de navigateur sur leur disque dur à des fins d'enregistrement et parfois de suivi sur eux. Les Utilisateurs peuvent choisir de paramétrer leur fureteur pour refuser les témoins de navigation, ou de les alerter lorsqu'un témoin est émis.

+section("Comment nous utilisons les informations collectées")
    p #{WEBSITE.name} peut collecter et utiliser les informations personnelles de ses Utilisateurs pour les fins suivantes:
    ul
        li
            i Pour gérer notre Site
            br
            p Nous pouvons avoir besoin de vos informations pour afficher le contenu sur le Site correctement.
        li
            i Pour améliorer notre Site
            br
            p Nous pouvons utiliser vos recommandations et remarques pour améliorer nos produits et services.

+section("Comment nous protégeons vos informations")
    p Nous adoptons des mesures appropriées de collecte, de stockage et de traitement des données, et des mesures de sécurité pour protéger les informations de transaction et les données sur notre Site contre l'accès non autorisé, la falsification, la divulgation ou la destruction de vos informations personnelles, noms d'usager et mots de passe.  

+section("Partager vos informations personnelles")
    p Nous ne vendons, échangeons, ni ne louons les informations à identification personnelle des Utilisateurs à autrui. Nous pouvons partager des informations démographiques agrégées non liées à des informations à identification personnelle concernant les visiteurs et Utilisateurs avec nos partenaires, affiliés et publicitaires pour les fins soulignées ci-haut.

+section("Site web tiers")
    p Les utilisateurs peuvent trouver des annonces ou du contenu sur notre Site qui effectue des liens vers des sites et services de nos partenaires, fournisseurs, publicitaires, commanditaires, concédants et autres partis tiers. Nous ne contrôlons pas le contenu ou les liens apparaissant sur ces sites et nous ne somme pas responsable des pratiques employées par les sites web liés à ou depuis notre Site. De plus, ces sites ou services, incluant leurs contenus et liens, peuvent être modifiés en tout temps. Ces sites et services peuvent avoir leurs propres politiques de confidentialité et politiques de service. La navigation et l'interaction avec tout autre site, incluant les sites web qui ont un lien vers notre Site, sont sujettes aux termes et politiques de ce site.

+section("Publicités")
    p Les publicités apparaissant sur notre Site peuvent être livrées aux Utilisateurs par des partenaires publicitaires, qui peuvent émettre des témoins de navigateur. Ces témoins permettent au serveur de publicité de reconnaître votre ordinateur chaque fois qu'ils vous envoient une publicité en ligne pour compiler des informations à identification non personnelle à propos de vous ou d'autres usagers de votre ordinateur. Ces informations permettent aux réseaux publicitaires, entre autres, de livrer des publicités ciblées qu'ils pensent être les plus intéressantes pour vous. La présente politique de confidentialité ne couvre pas l'utilisation de témoins de navigateur par nos partenaires publicitaires.

+section("Google AdSense")
    p Certaines publicités peuvent être servies par Google. Google utilise des témoins de navigateur de type DART qui leur permet de servir des publicités aux Utilisateurs selon leurs visites sur notre Site ou d'autres sites dans Internet. DART utilise des «informations à identification non personnelle» et n'effectue pas de suivi d'informations à identification personnelle telles que votre nom, vote adresse courriel, votre adresse physique, etc. Vous pouvez vous soustraire à l'utilisation de témoins DART en visitant #[+extLink("http://www.google.com/privacy_ads.html") la politique de confidentialité du réseau publicitaire et de contenu Google].

+section("Modifications apportées à cette politique de confidentialité")
    p #{WEBSITE.name} a la discrétion d'actualiser cette politique de confidentialité à tout moment. Lorsque nous le faisons, nous allons publier une notification sur la page principale de notre Site. Nous encourageons les Utilisateurs à consulter fréquemment cette page en cas de modifications et pour rester informés sur nos politiques de protection des données personnelles que nous collectons. Vous reconnaissez que cette votre responsabilité de revoir périodiquement cette politique de confidentialité pour être au courant de modifications.

+section("Votre accord de ces termes")
    p En utilisant ce Site, vous signifiez votre accord de cette politique. Si vous n'êtes pas en accord avec cette politique, merci de ne pas utiliser notre Site. La poursuite de votre utilisation du Site suite à la publication de modifications apportées à cette politique sera considérée comme votre accord de ces changements.

+section("Nous contacter")
    p Si vous avez des questions à propos de cette politique de confidentialité, les pratiques de ce site, ou vos opérations avec ce site, vous êtes priés de nous contacter.

p Ce document a été mis à jour le 10 mars 2018.