include /_jade/redaction/_redaction

p Les identités trigonométriques permettent de simplifier des expressions trigonométriques compliquées. Outre pour l'évaluation d'intégrales de fonctions trigonométriques, les identités trigonométriques sont utilisées dans plusieurs preuves, notamment lors de la résolution de limites de formes indéterminées.

+h(2, "Les relations de Pythagore")

    p Partant des sections coniques, l'équation d'un cercle unitaire centré à l'origine est #[+e() x^2+y^2=1.] Selon la définition des fonctions sinus et cosinus, la fonction #[+e() \cos(\alpha)] correspond à l'abscisse d'un point trigonométrique #[+e() P=(x,y)] d'angle #[+e() \alpha] et que la fonction #[+e() \sin(\alpha)] correspond à l'ordonnée du même point trigonométrique. Ce faisant:

    +leq("relation-pythagore-sinus-cosinus"). 
        \sin^2(\alpha)+\cos^2(\alpha)=1.

    p Partant de l'équation #[+eqref("relation-pythagore-sinus-cosinus") ,] en multipliant de part et d'autre l'équation par #[+e() \dfrac{1}{\cos^2(\alpha)}:]

    +eq().
        \dfrac{1}{\cos^2(\alpha)}\left(\sin^2(\alpha)+\cos^2(\alpha)\right)&=\dfrac{1}{\cos^2(\alpha)}
        \\\dfrac{\sin^2(\alpha)}{\cos^2(\alpha)}+\dfrac{\cos^2(\alpha)}{\cos^2(\alpha)}&=\dfrac{1}{\cos^2(\alpha)}.

    p Par conséquent, en vertu de la définition des fonctions tangente et sécante, on peut écrire:

    +leq("relation-pythagore-tangente-secante"). 
        \tan^2(\alpha)+1=\sec^2(\alpha).

    p Similairement, en multipliant de part et d'autre l'équation #[+eqref("relation-pythagore-sinus-cosinus")] par #[+e() \dfrac{1}{\cos^2(\alpha)}:]

    +eq().
        \dfrac{1}{\cos^2(\alpha)}\left(\sin^2(\alpha)+\cos^2(\alpha)\right)&=\dfrac{1}{\cos^2(\alpha)}
        \\\dfrac{\sin^2(\alpha)}{\sin^2(\alpha)}+\dfrac{\cos^2(\alpha)}{\sin^2(\alpha)}&=\dfrac{1}{\cos^2(\alpha)}.

    p Par conséquent, en vertu de la définition des fonctions cotangente et cosécante, on peut écrire:

    +leq("relation-pythagore-cotangente-cosecante"). 
        1+\cot^2(\alpha)=\csc^2(\alpha).

+h(2, "Les propriétés de cofonction")

    p Les propriétés de cofonction des fonctions trigonométriques découlent de leur définition dans un triangle rectangle. Soit un triangle #[+e() \triangle ABC] rectangle en #[+e() B] tel que #[+e() \angle BCA=\gamma,] #[+e() \angle CAB=\alpha] et #[+e() \angle ABC=\beta=\dfrac{\pi}{2}\text{ rad}.]

    +fig("graphique-triangle-rectangle-cotes-angles-identifies.svg") Graphique du triangle rectangle décrit précédemment.

    p Sachant que la somme des angles intérieurs d'un triangle vaut #[+e() \pi\text{ rad},] alors #[+e() \alpha+\beta+\gamma=\pi\text{ rad}.] Par conséquent:

    +eq().
        \sin(\gamma)=\sin(\beta-\alpha).

    p La définition de la fonction sinus stipule que #[+e() \sin(\gamma)] correspond au rapport entre le côté opposé à #[+e() \gamma] et l'hypoténuse #[+e() \triangle ABC.] Aussi, la définition de la fonction cosinus stipule que #[+e() \cos(\alpha)] correspond au rapport entre l'hypoténuse et le côté opposé à #[+e() \alpha] dans le triangle #[+e() \triangle ABC.] Par conséquent,

    +eq().
        \sin(\gamma)=\dfrac{\overline{AB}}{\overline{AC}}=\cos(\alpha).

    p Il en découle donc que:

    +leq("cofonction-sinus").
        \sin\left(\dfrac{\pi}{2}-\alpha\right)=\cos(\alpha).

    p Suivant la même logique:

    +eq().
        \cos(\beta-\alpha)=\cos(\gamma).
    
    p La définition de la fonction cosinus stipule que #[+e() \cos(\gamma)] correspond au rapport entre le côté adjacent à #[+e() \gamma] et l'hypoténuse du triangle #[+e() \triangle ABC.] Aussi, la définition de la fonction sinus stipule que #[+e() \sin(\alpha)] correspond au rapport entre l'hypoténuse et le côté opposé à #[+e() \alpha] dans le triangle #[+e() \triangle ABC.] Par conséquent:

    +eq().
        \cos(\gamma)=\dfrac{\overline{BC}}{\overline{AC}}=\sin(\alpha).

    p Il en découle donc que:

    +leq("cofonction-cosinus").
        \cos\left(\dfrac{\pi}{2}-\alpha\right)=\sin(\alpha).

    p En suivant à nouveau la même logique:

    +eq().
        \tan(\beta-\alpha)=\tan(\gamma).

    p La définition de la fonction tangente stipule que #[+e() \tan(\gamma)] correspond au rapport entre le côté opposé à #[+e() \gamma] et le côté adjacent à #[+e() \gamma] dans le triangle #[+e() \triangle ABC.] Aussi, la définition de la fonction cotangente stiple que #[+e() \cot(\alpha)] correspond au rapport entre le côté adjacent à #[+e() \alpha] et le côté opposé à #[+e() \alpha] dans le triangle #[+e() \triangle ABC.] Par conséquent:

    +eq().
        \tan(\gamma)=\dfrac{\overline{AB}}{\overline{BC}}=\cot(\alpha)

    p Il en découle donc que:

    +leq("cofonction-tangente").
        \tan\left(\dfrac{\pi}{2}-\alpha\right)=\cot(\alpha).

    p En vertu de la définition des fonctions sécante et cosécante comme étant l'inverse multiplicatif des fonctions cosinus et sinus respectivement, ainsi que la propriété de cofonction de la fonction cosinus #[+eqref("cofonction-cosinus") :]

    +leq("cofonction-secante").
         \sec\left(\dfrac{\pi}{2}-\alpha\right)=\csc(\alpha).

    p En vertu de la définition des fonctions cosécante et sécante comme étant l'inverse multiplicatif des fonctions sinus et cosinus respectivement, ainsi que la propriété de cofonction de la fonction sinus #[+eqref("cofonction-sinus") :]

    +leq("cofonction-cosecante").
         \csc\left(\dfrac{\pi}{2}-\alpha\right)=\sec(\alpha).

    p En vertu de la définition des fonctions tangente et cotangente comme étant l'inverse multiplicatif des fonctions tangente et cotangente respectivement, ainsi que la propriété de cofonction de la fonction sinus #[+eqref("cofonction-tangente") :]

    +leq("cofonction-cotangente").
         \cot\left(\dfrac{\pi}{2}-\alpha\right)=\tan(\alpha).

+h(2, "Les identités de somme et de différence d'angles")

    p Soient les points trigonométriques #[+e() A=(\cos(\alpha),\sin(\alpha))] et #[+e() B=(\cos(\beta),\sin(\beta))] sur un cercle unitaire centré en #[+e() O,] tel que #[+e() \alpha] et #[+e() \beta] se propagent dans le sens anti-horaire à partir de l'horizontale. Le triangle #[+e() \triangle AOB] est isocèle, puisque #[+e() \overline{AO}=\overline{OB}.] Tel qu'illustré par la figure suivante, #[+e() \angle AOB=\alpha-\beta.] Pour simplifier les calculs, on pose #[+e() A=(A_x,A_y)] et #[+e() B=(B_x,B_y).]

    +fig("graphique-premiere-partie-preuve-identites-somme-difference-angles.svg") Première partie de la construction de la preuve.

    p Ensuite, soient les points trigonométriques #[+e() A^\prime=(\cos(\alpha-\beta),\sin(\alpha-\beta))] et #[+e() B^\prime=(1,0),] les transformations par rotation des points #[+e() A] et #[+e() B] selon #[+e() -\beta.] Les triangles #[+e() \triangle AOB] et #[+e() \triangle A^\prime OB^\prime] sont isométriques. Par conséquent, #[+e() \angle A^\prime OB^\prime=\alpha-\beta.] Pour simplifier les calculs, on pose #[+e() A^\prime=(A_x^\prime,A_y^\prime)] et #[+e() B^\prime=(B_x^\prime,B_y^\prime).]

    +fig("graphique-deuxieme-partie-preuve-identites-somme-difference-angles.svg") Deuxième partie de la construction de la preuve.

    p Il sera possible de développer l'équation #[+e() \overline{AB}=\overline{A^\prime B^\prime}] à l'aide de la formule de la distance entre deux points.

    +eq().
        \overline{AB}&=\overline{A^\prime B^\prime}
        \\\sqrt{(A_x-B_x)^2+(A_y-B_y)^2}&=\sqrt{(A_x^\prime-B_x^\prime)^2+(A_y^\prime-B_y^\prime)^2}
        \\(A_x-B_x)^2+(A_y-B_y)^2&=(A_x^\prime-1)^2+(A_y^\prime-0)^2

    p Afin d'alléger l'écriture, développons séparément les deux membres de l'équation. Les points #[+e() A] et #[+e() B] étant trigonométriques, on note que #[+e() A_x^2+A_y^2=B_x^2+B_y^2=1.] Le membre de gauche de l'équation s'exprime donc:

    +eq().
        (A_x-B_x)^2+(A_y-B_y)^2&=A_x^2-2A_xB_x+B_x^2+A_y^2-2A_yB_y+B_y^2
        \\&=A_x^2+A_y^2+B_x^2+B_y^2-2A_xB_x-2A_yB_y
        \\&=1+1-2A_xB_x-2A_yB_y
        \\&=2(1-A_xB_x-A_yB_y).

    p Le point #[+e() A^\prime] est aussi trigonométrique, ce qui suggère que #[+e() (A_x^\prime)^2+(A_y^\prime)^2=1.] Le membre de droite de l'équation s'exprime alors:

    +eq().
        (A_x^\prime-1)^2+(A_y^\prime)^2&=(A_x^\prime)^2-2A_x^\prime+1+(A_y^\prime)^2
        \\&=(A_x^\prime)^2+(A_y^\prime)^2-2A_x^\prime+1
        \\&=1-2A_x^\prime+1
        \\&=2(1-A_x^\prime).

    p Ensuite, en rappelant l'équation initiale et le développement de ces membres:

    +eq().
        (A_x-B_x)^2+(A_y-B_y)^2&=(A_x^\prime-1)^2+(A_y^\prime)^2
        \\2(1-A_xB_x-A_yB_y)&=2(1-A_x^\prime)
        \\1-A_xB_x-A_yB_y&=1-A_x^\prime
        \\A_x^\prime&=A_xB_x-A_yB_y.

    p Alors, en substituant les valeurs appropriées de coordonnées des points #[+e() A^\prime,] #[+e() A] et #[+e() B] telles que définies plus tôt, on obtient:

    +leq("cosinus-difference-angles").
        \cos(\alpha-\beta)=\cos(\alpha)\cos(\beta)+\sin(\alpha)\sin(\beta).

    +ad("in-article")

    p À partir de l'équation #[+eqref("cosinus-difference-angles") ,] il est possible de substituer #[+e() \beta\leftarrow-\beta] pour connaître l'identité du cosinus de la somme de deux angles. Sachant que la fonction cosinus est paire et que la fonction sinus est impaire, c'est-à-dire que #[+e() \cos(-\theta)=\cos(\theta)] et #[+e() \sin(-\theta)=-\sin(\theta)] pour tous #[+e() \theta\in\mathbb{R}, ] alors:

    +eq().
        \cos(\alpha-(-\beta))&=\cos(\alpha)\cos(-\beta)+\sin(\alpha)\sin(-\beta)
        \\\cos(\alpha+\beta)&=\cos(\alpha)\cos(\beta)+\sin(\alpha)\sin(-\beta).

    p Ce faisant:

    +leq("cosinus-somme-angles").
        \cos(\alpha+\beta)=\cos(\alpha)\cos(\beta)-\sin(\alpha)\sin(\beta).

    p Il est possible de combiner les équations #[+eqref("cosinus-difference-angles")] et #[+eqref("cosinus-somme-angles")] en une seule équation plus facile à mémoriser:

    +leq("cosinus-somme-difference-angles").
        \cos(\alpha\pm\beta)=\cos(\alpha)\cos(\beta)\mp\sin(\alpha)\sin(\beta).

    p Il est ensuite possible de déterminer l'équation du sinus de la somme et de la différence de deux angles à l'aide des propriétés de cofonction. Soit #[+e() \theta=\alpha-\beta.] En vertu de la propriété de cofonction des fonctions sinus #[+eqref("cofonction-sinus")] et cosinus #[+eqref("cofonction-cosinus") ,] et de la formule d'addition d'angles de la fonction cosinus #[+eqref("cosinus-somme-angles") :]

    +eq().
        \sin(\theta)&=\cos\left(\dfrac{\pi}{2}-\theta\right)
        \\\sin(\alpha-\beta)&=\cos\left(\left[\dfrac{\pi}{2}-\alpha\right]+\beta\right)
        \\&=\cos\left(\dfrac{\pi}{2}-\alpha\right)\cos(\beta)-\sin\left(\dfrac{\pi}{2}-\alpha\right)\sin(\beta).
    
    p Par conséquent:
    
    +leq("sinus-difference-angles").
        \sin(\alpha-\beta)=\sin(\alpha)\cos(\beta)-\cos(\alpha)\sin(\beta).

    p À partir de l'équation #[+eqref("sinus-difference-angles") ,] il est possible de substituer #[+e() \beta\leftarrow-\beta] pour connaître l'identité du sinus de la somme de deux angles. Sachant que la fonction cosinus est paire et que la fonction sinus est impaire, c'est-à-dire que #[+e() \cos(-\theta)=\cos(\theta)] et #[+e() \sin(-\theta)=-\sin(\theta)] pour tous #[+e() \theta\in\mathbb{R}, ] alors:

    +eq().
        \sin(\alpha-(-\beta))&=\sin(\alpha)\cos(-\beta)-\cos(\alpha)\sin(-\beta)
        \\\sin(\alpha+\beta)&=\sin(\alpha)\cos(\beta)-\cos(\alpha)\sin(-\beta).

    p Ce faisant:
    
    +leq("sinus-somme-angles").
        \sin(\alpha+\beta)=\sin(\alpha)\cos(\beta)+\cos(\alpha)\sin(\beta).

    p Il est possible de combiner les équations #[+eqref("sinus-difference-angles")] et #[+eqref("sinus-somme-angles")] en une seule équation plus facile à mémoriser:

    +leq("sinus-somme-difference-angles").
        \sin(\alpha\pm\beta)=\sin(\alpha)\cos(\beta)\pm\cos(\alpha)\sin(\beta).

    p Enfin, il est possible de déterminer l'équation de la tangente de la somme et de la différence d'angles à partir de la définition de la fonction tangente comme le quotient du sinus et du cosinus d'un angle, et des équations de somme et de différence d'angles des fonctions sinus #[+eqref("sinus-somme-difference-angles")] et cosinus #[+eqref("cosinus-somme-difference-angles") .] Par soucis d'équivalence, on tâchera d'exprimer la formule en termes de la fonction tangente. Soit #[+e() \theta=\alpha\pm\beta:]

    +eq().
        \tan(\theta)&=\dfrac{\sin(\theta)}{\cos(\theta)}
        \\\tan(\alpha\pm\beta)&=\dfrac{\sin(\alpha\pm\beta)}{\cos(\alpha\pm\beta)}
        \\&=\dfrac{\sin(\alpha)\cos(\beta)\pm\cos(\alpha)\sin(\beta)}{\cos(\alpha)\cos(\beta)\mp\sin(\alpha)\sin(\beta)}
        \\&=\dfrac{
            \sin(\alpha)\cos(\beta)\pm\cos(\alpha)\sin(\beta)
        }{
            \cos(\alpha)\cos(\beta)\mp\sin(\alpha)\sin(\beta)
        }\cdot\dfrac{
            \dfrac{1}{\cos(\alpha)\cos(\beta)}
        }{
            \dfrac{1}{\cos(\alpha)\cos(\beta)}
        }
        \\&=\dfrac{
            \dfrac{
                \sin(\alpha)\cos(\beta)\pm\cos(\alpha)\sin(\beta)
            }{\cos(\alpha)\cos(\beta)}
        }{
            \dfrac{
                \cos(\alpha)\cos(\beta)\mp\sin(\alpha)\sin(\beta)
            }{\cos(\alpha)\cos(\beta)}
        }
        \\&=\dfrac{
            \dfrac{\sin(\alpha)\cos(\beta)}{\cos(\alpha)\cos(\beta)}\pm\dfrac{\cos(\alpha)\sin(\beta)}{\cos(\alpha)\cos(\beta)}
        }{
            \dfrac{\cos(\alpha)\cos(\beta)}{\cos(\alpha)\cos(\beta)}\mp\dfrac{\sin(\alpha)\sin(\beta)}{\cos(\alpha)\cos(\beta)}
        }
        \\&=\dfrac{
            \dfrac{\sin(\alpha)}{\cos(\alpha)}\pm\dfrac{\sin(\beta)}{\cos(\beta)}
        }{
            1\mp\dfrac{\sin(\alpha)}{\cos(\alpha)}\cdot\dfrac{\sin(\beta)}{\cos(\beta)}
        }.

    p Ce faisant:

    +leq("tangente-somme-difference-angles").
        \tan(\alpha\pm\beta)=\dfrac{\tan(\alpha)\pm\tan(\beta)}{1\mp\tan(\alpha)\tan(\beta)}.

+h(2, "Les identités des angles doubles")

    p Les identités des angles doubles permettent de simplifier la résolution de certaines intégrales. À partir des identités de somme d'angles, si les angles de l'addition sont équivalents, alors il est possible d'en dégager les identités des angles doubles.

    p D'abord, à partir de la formule de la somme d'angles de la fonction sinus #[+eqref("sinus-somme-angles") ,] si #[+e() \alpha=\beta,] alors:
    +eq().
        \sin(\alpha+\alpha)&=\sin(\alpha)\cos(\alpha)+\cos(\alpha)\sin(\alpha).

    p Ce faisant:
    +leq("sinus-angle-double").
        \sin(2\alpha)=2\sin(\alpha)\cos(\alpha).

    p Ensuite, à partir de la formule de la somme d'angles de la fonction cosinus #[+eqref("cosinus-somme-angles") ,] si #[+e() \alpha=\beta,] alors:
    +eq().
        \cos(\alpha+\alpha)=\cos(\alpha)\cos(\alpha)-\sin(\alpha)\sin(\alpha).
    p Ce faisant:
    +leq("cosinus-angle-double").
        \cos(2\alpha)=\cos^2(\alpha)-\sin^2(\alpha).

    +ad("in-article")

    p Il est possible de dégager des variantes de l'identité #[+eqref("cosinus-angle-double")] à partir de la relation de Pythagore des fonctions sinus et cosinus #[+eqref("relation-pythagore-sinus-cosinus") :]

    +leq("cosinus-angle-double-cosinus").
        \cos(2\alpha)=2\cos^2(\alpha)-1.
    +leq("cosinus-angle-double-sinus").
        \cos(2\alpha)=1-2\sin^2(\alpha).

    p Enfin, à partir de la formule de la somme et de différence d'angles de la fonction tangente #[+eqref("tangente-somme-difference-angles") ,] si #[+e() \alpha=\beta,] alors:
    +eq().
        \tan(\alpha+\alpha)=\dfrac{\tan(\alpha)+\tan(\alpha)}{1-\tan(\alpha)\tan(\alpha)}.
    p Ce faisant:
    +leq("tangente-angle-double").
        \tan(2\alpha)=\dfrac{2\tan(\alpha)}{1-\tan^2(\alpha)}.

+h(2, "Les identités de réduction de puissance")

    p Les identités des angles doubles permettent de simplifier la résolution de certaines intégrales. À partir des identités des angles doubles, il est possible d'exprimer des fonctions trigonométriques élevées au carré linéairement.

    p D'abord, à partir de la variante en sinus de la formule des angles doubles de la fonction cosinus #[+eqref("cosinus-angle-double-sinus") :]
    +eq().
        \cos(2\alpha)=1-2\sin^2(\alpha)\iff\sin^2(\alpha)=\dfrac{\cos(2\alpha)-1}{-2}.
    p Ce faisant:
    +leq("reduction-puissance-sinus").
        \sin^2(\alpha)=\dfrac{1-\cos(2\alpha)}{2}.

    p Ensuite, à partir de la variante en cosinus de la formule des angels doubles de la fonction cosinus #[+eqref("cosinus-angle-double-cosinus") :]
    +eq().
        \cos(2\alpha)=2\cos^2(\alpha)-1\iff\cos^2(\alpha)=\dfrac{\cos(2\alpha)+1}{2}.
    p Ce faisant:
    +leq("reduction-puissance-cosinus").
        \cos^2(\alpha)=\dfrac{\cos(2\alpha)+1}{2}.
    p Enfin, à partir de la définition de la fonction tangente et des identités de réduction de puissance des fonctions sinus #[+eqref("reduction-puissance-sinus")] et cosinus #[+eqref("reduction-puissance-cosinus") :]
    +eq().
        \tan^2(\alpha)&=\dfrac{\sin^2(\alpha)}{\cos^2(\alpha)}
        \\&=\dfrac{\dfrac{1-\cos(2\alpha)}{2}}{\dfrac{\cos(2\alpha)+1}{2}}.
    p Ce faisant:
    +leq("reduction-puissance-tangente").
        \tan^2(\alpha)=\dfrac{1-\cos(2\alpha)}{1+\cos(2\alpha)}.

+h(2, "Les identités du passage de la somme au produit de fonctions")

    p En vertu de la formule de somme et de différence d'angles de la fonction sinus #[+eqref("sinus-somme-difference-angles") ,] il est possible de développer l'expression suivante comme suit:

    +eq().
        \sin(x+y)+\sin(x-y)&=\sin(x)\cos(y)+\cos(x)\sin(y)+\sin(x)\cos(y)-\cos(x)\sin(y)
        \\&=\sin(x)\cos(y)+\sin(x)\cos(y)
        \\&=2\sin(x)\cos(y).

    p Soient les angles #[+e() \alpha=x+y] et #[+e() \beta=x-y.] Il est possible de déterminer les expressions de #[+e() x] et de #[+e() y] en résolvant le système d'équation suivant:

    +leq("systeme-equations").
        \begin{cases}x+y=\alpha\\x-y=\beta\end{cases}
        \iff\begin{cases}x+y+x-y=\alpha+\beta\\x+y-(x-y)=\alpha-\beta\end{cases}
        \iff\begin{cases}x=\dfrac{\alpha+\beta}{2}\\y=\dfrac{\alpha-\beta}{2}\end{cases}.

    p Ce faisant:

    +leq("somme-sinus-produit").
        \sin(\alpha)+\sin(\beta)=2\sin\left(\dfrac{\alpha+\beta}{2}\right)\cos\left(\dfrac{\alpha-\beta}{2}\right).

    +ad("in-article")

    p Similairement, en vertu de la formule de somme et de différence d'angles de la fonction sinus #[+eqref("sinus-somme-difference-angles") ,] il est possible de développer l'expression suivante comme suit:

    +eq().
        \sin(x+y)-\sin(x-y)&=\sin(x)\cos(y)+\cos(x)\sin(y)-\sin(x)\cos(y)+\cos(x)\sin(y)
        \\&=\cos(x)\sin(y)+\cos(x)\sin(y)
        \\&=2\cos(x)\sin(y).

    p Alors, à partir du système d'équations résolu précédemment #[+eqref("systeme-equations") ,] il est possible d'écrire:

    +leq("difference-sinus-produit").
        \sin(\alpha)-\sin(\beta)=2\cos\left(\dfrac{\alpha+\beta}{2}\right)\sin\left(\dfrac{\alpha-\beta}{2}\right).

    p Pour la somme du cosinus de deux angles maintenant, en vertu de la formule de somme et de différence d'angles de la fonction cosinus #[+eqref("cosinus-somme-difference-angles") ,] il est possible de développer l'expression suivante comme suit:

    +eq().
        \cos(x+y)+\cos(x-y)&=\cos(x)\cos(y)-\sin(x)\sin(y)+\cos(x)\cos(y)+\sin(x)\sin(y)
        \\&=\cos(x)\cos(y)+\cos(x)\cos(y)
        \\&=2\cos(x)\cos(y).

    p Alors, à partir du système d'équations résolu précédemment #[+eqref("systeme-equations") ,] il est possible d'écrire:

    +leq("somme-cosinus-produit").
        \cos(\alpha)+\cos(\beta)=2\cos\left(\dfrac{\alpha+\beta}{2}\right)\cos\left(\dfrac{\alpha-\beta}{2}\right).

    p Enfin, en vertu de la formule de somme et de différence d'angles de la fonction cosinus #[+eqref("cosinus-somme-difference-angles") ,] il est possible de développer l'expression suivante comme suit:

    +eq().
        \cos(x+y)-\cos(x-y)&=\cos(x)\cos(y)-\sin(x)\sin(y)-\cos(x)\cos(y)-\sin(x)\sin(y)
        \\&=-\sin(x)\sin(y)-\sin(x)\sin(y)
        \\&=-2\sin(x)\sin(y).
    
    p Alors, à partir du système d'équations résolu précédemment #[+eqref("systeme-equations") ,] il est possible d'écrire:

    +leq("difference-cosinus-produit").
        \cos(\alpha)+\cos(\beta)=-2\sin\left(\dfrac{\alpha+\beta}{2}\right)\sin\left(\dfrac{\alpha-\beta}{2}\right).

+h(2, "Les identités du passage du produit à la somme de fonctions")

    p Les formules du passage du produit à la somme de fonctions trigonométriques permet de simplifier la résolution d'intégrales.

    p En vertu de la formule de somme et de différence d'angles de la fonction sinus #[+eqref("sinus-somme-difference-angles") ,] il est possible de développer la somme des identités #[+eqref("sinus-somme-angles")] et #[+eqref("sinus-difference-angles")] comme suit:

    +eq().
        \sin(\alpha+\beta)+\sin(\alpha-\beta)&=\sin(\alpha)\cos(\beta)+\cos(\alpha)\sin(\beta)+\sin(\alpha)\cos(\beta)-\cos(\alpha)\sin(\beta)
        \\&=\sin(\alpha)\cos(\beta)+\sin(\alpha)\cos(\beta)
        \\&=2\sin(\alpha)\cos(\beta).

    p Ce faisant:

    +leq("produit-sinus-cosinus").
        \sin(\alpha)\cos(\beta)=\dfrac{1}{2}[\sin(\alpha+\beta)+\sin(\alpha-\beta)].

    p Similairement, en vertu de la formule de somme et de différence d'angles de la fonction sinus #[+eqref("sinus-somme-difference-angles") ,] il est possible de développer la différence des identités #[+eqref("sinus-somme-angles")] et #[+eqref("sinus-difference-angles")] comme suit:

    +eq().
        \sin(\alpha+\beta)-\sin(\alpha-\beta)&=\sin(\alpha)\cos(\beta)+\cos(\alpha)\sin(\beta)-\sin(\alpha)\cos(\beta)+\cos(\alpha)\sin(\beta)
        \\&=\cos(\alpha)\sin(\beta)+\cos(\alpha)\sin(\beta)
        \\&=2\cos(\alpha)\sin(\beta).

    p Ce faisant:

    +leq("produit-cosinus-sinus").
        \cos(\alpha)\sin(\beta)=\dfrac{1}{2}[\sin(\alpha+\beta)-\sin(\alpha-\beta)].

    p Pour la somme du cosinus de deux angles maintenant, en vertu de la formule de somme et de différence d'angles de la fonction cosinus #[+eqref("cosinus-somme-difference-angles") ,] il est possible de développer la somme des identités #[+eqref("cosinus-somme-angles")] et #[+eqref("cosinus-difference-angles")] comme suit:

    +eq().
        \cos(\alpha+\beta)+\cos(\alpha-\beta)&=\cos(\alpha)\cos(\beta)-\sin(\alpha)\sin(\beta)+\cos(\alpha)\cos(\beta)+\sin(\alpha)\sin(\beta)
        \\&=\cos(\alpha)\cos(\beta)+\cos(\alpha)\cos(\beta)
        \\&=2\cos(\alpha)\cos(\beta).

    p Ce faisant:

    +leq("produit-cosinus-cosinus").
        \cos(\alpha)\cos(\beta)=\dfrac{1}{2}[\cos(\alpha+\beta)+\cos(\alpha-\beta)].

    p Enfin, en vertu de la formule de somme et de différence d'angles de la fonction cosinus #[+eqref("cosinus-somme-difference-angles") ,] il est possible de développer la différence des identités #[+eqref("cosinus-somme-angles")] et #[+eqref("cosinus-difference-angles")] comme suit:

    +eq().
        \cos(\alpha+\beta)-\cos(\alpha-\beta)&=\cos(\alpha)\cos(\beta)-\sin(\alpha)\sin(\beta)-\cos(\alpha)\cos(\beta)-\sin(\alpha)\sin(\beta)
        \\&=-\sin(\alpha)\sin(\beta)-\sin(\alpha)\sin(\beta)
        \\&=-2\sin(\alpha)\sin(\beta).

    p Ce faisant:

    +leq("produit-sinus-sinus").
        \sin(\alpha)\sin(\beta)=\dfrac{1}{2}[\cos(\alpha-\beta)-\cos(\alpha+\beta)].

+tableOfContents()