@import 'colors';
@import 'breakpoints';
footer#secondary-navigation {
    position: absolute;
    z-index: 1; //Set footer above navigation
    background-color: $secondary-dark;
    color: $primary-light;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    @include respond-to(tablet-landscape) {
        justify-content: space-between;
        flex-direction: row;
    }
    a {
        text-decoration: none;
        padding: 1rem;
        color: $secondary-grey;
        display: block;
        @include respond-to(desktop) {
            $transition: color 0.1s ease-in-out;
            transition: $transition;
            -webkit-transition: $transition;
        }
        &:hover {
            color: $primary-yellow;
        }
    }
    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
        }
    }
    nav.social {
        @include respond-to(tablet-landscape) {
            order: 2;
        }
    }
    nav.links {
        @include respond-to(tablet-landscape) {
            order: 1;
        }
    }
}