include /_jade/model/_model.js.jade
include /_jade/components/_article-summary

-
    let articles = Index.listAllArticles();

    /**
     * Sorts the articles from the most recently modified to the least recently
     * modified.
     */
    articles.sort(function (a, b) {
        let dateA = a.lastestModificationDate;
        let dateB = b.lastestModificationDate;
        if (dateA === undefined) {
            return 1;
        } else if (dateB === undefined) {
            return -1;
        } else if (dateA === dateB) {
            return 0;
        } else {
            dateA = dateA.raw;
            dateB = dateB.raw;
            return dateA > dateB ? -1 : 1;
        }
    });

ol#articles
    for article in articles
        if article.publicationDate
            li: +articleSummary(article)