@import 'colors';
@import 'breakpoints';
$mobile-navigation-bar-height: 3rem;
$desktop-navigation-width: 20%;
header#main-navigation {
    //Background container for the navigation
    background-color: $primary-dark;
    color: $primary-light;
    vertical-align: top;
    position: fixed;
    width: 100%;
    z-index: 1; //Set navigation bar above MathJax equations
    text-transform: uppercase;
    max-height: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
    @include respond-to(desktop) {
        position: relative;
        width: $desktop-navigation-width;
        display: inline-block;
        align-items: stretch; //Stretch the container to the footer
    }
    nav {
        position: relative;
        &::-webkit-scrollbar {
            display: none;
        }
        @include respond-to(desktop) {
            max-height: 100%;
            overflow-y: scroll;
            z-index: -1; //Set navigation content below footer
            position: fixed;
            width: $desktop-navigation-width;
            display: block;
            text-align: left;
            padding-bottom: 5rem; //Blank space for ease of access to the last element
        }
        img#logo {
            position: absolute;
            display: block;
            height: $mobile-navigation-bar-height;
            width: auto;
            float: left;
            padding: 0.4rem;
            @include respond-to(desktop) {
                position: relative;
                float: none;
                height: auto;
                width: 100%;
                padding: 10%;
            }
        }
        >ul {
            top: $mobile-navigation-bar-height;
            @include respond-to(desktop) {
                top: 0rem;
            }
        }
        ul {
            position: relative;
            background-color: $secondary-dark;
            list-style: none;
            padding: 0;
            margin: 0;
            @include respond-to(desktop) {
                background-color: $primary-dark;
            }
            ul {
                padding-left: 2rem;
            }
            li {
                width: 100%;
                padding: 0;
            }
            a {
                width: 100%;
                display: inline-block;
                padding: 1rem;
                color: $primary-light;
                text-decoration: none;
                &:hover {
                    color: $primary-yellow;
                    background-color: $primary-dark;
                    border-left: 0.3rem solid $primary-yellow;
                    @include respond-to(desktop) {
                        transition: all 0.1s ease-in-out;
                        background-color: $secondary-dark;
                    }
                }
            }
        }
        i.fa-navicon,
        i.fa-caret-down {
            display: unset;
            float: right;
            font-size: 1.5rem;
            padding: 0.5rem;
            cursor: pointer;
        }
        i.fa-navicon {
            position: fixed;
            top: 0;
            right: 0;
            font-size: 2rem;
            background-color: $primary-dark;
            border-radius: 0 0 0 0.5rem;
            @include respond-to(desktop) {
                display: none;
            }
        }
        i.fa-caret-down {
            position: absolute;
            right: 0;
            @include respond-to(tablet-portrait) {
                transition: transform 0.2s ease-in-out;
            }
        }
    }
}

.rotate {
    transform: rotate(-180deg);
    @include respond-to(tablet-portrait) {
        transition: transform 0.2s ease-in-out;
    }
}