extends ../_layout

include /_jade/mixins/head/_head

-var thumbnailUrl = public._data.globals.url + "res/thumbnails/thumbnail-red.png"

//- @Override
block og:image
    +ogimage(thumbnailUrl, "png", 300, 300)

//- @Override
block twitter:image
    +twitterimage(thumbnailUrl)

//- @Override
block content
    main.red
        != yield