include ../model
-const rootPages = LOCALE.pages;
if rootPages.length > 0
    ul.page-list
        each page in rootPages
            if page.type !== PageType.of('locales') || WEBSITE.locales.length > 1
                li: a(href=page.link.relativePath)=page.headline

//- Lists the pages and the articles recursively of a given category and
    subsequent subcategories.
mixin listCategory(category)
    li: a(href=category.link.relativePath)
        i.fa.fa-fw.fa-folder-o
        =category.headline
    ol.root-pages
        each webDocument in category.documents
            if webDocument.type !== PageType.of('index')
                if webDocument instanceof Article && (webDocument.isPublished || (!webDocument.isPublished && environment === 'development'))
                    li: a(href=webDocument.link.relativePath)
                        i.fa.fa-fw.fa-file
                        =webDocument.headline
        each subcategory in category.subcategories
            +listCategory(subcategory)

ol.article-list
    each category in LOCALE.categories
        if category.recursiveDocuments.length > 0
            +listCategory(category)