include ../components/_navigation-link

//- Provides the secondary navigation of the current document
footer#secondary-navigation
    //- Retrieve the localized variables of the secondary navigation
    -
        let secondaryNavigation;
        if (Current.locale()) {
            let localeVariables = Current.locale().variables;
            secondaryNavigation = localeVariables.secondaryNavigation;
        }
    nav
        //- Leftmost links
        ul.links
            //- Copyright year
            li!= '© ' + new Date().getFullYear() + ' ' + Site.globals().siteName
            //- Source of the website
            li: a(href!=Site.globals().sourceUrl)
                i.fa.fa-fw(class!="fa-" + secondaryNavigation.source.icon)
                !=secondaryNavigation.source.headline
            //- Privacy Policy
            li: a(href="/privacy-policy")
                i.fa.fa-fw.fa-gavel
                !=secondaryNavigation.privacyPolicy
            //- Retrieve the root links found on the primary navigation
            -let links = Index.listNavigationElements(Current.locale())
            for link in links
                //- List links from the first level which do not have children
                if link.links.length == 0
                    //- Remove unnecessary trailing "index"
                    -
                        const INDEX = "index";
                        if (link.path.endsWith(INDEX)) {
                            link.path = link.path.slice(0, -INDEX.length);
                        }
                    li: +anchorLink(link)
    //- Rightmost links
    include ../components/_site-social-links