main {
    overflow-x: hidden;
    width: 100%;
    min-height: 100vh;
    margin-top: $mobile-navigation-bar-height;
    padding: $main-mobile-padding;
    @include flex-order(2);
    @include flex-grow(6);
    @include respond-to(tablet-portrait) {
        padding: $main-tablet-padding;
    }
    @include respond-to(desktop) {
        width: $desktop-main-width;
        margin-top: 0;
        @include flex-align-items(stretch);
    }
    article {
        display: block;
        @include flex-display();
        @include flex-direction(column);
        #table-of-contents {
            @include flex-order(-1);
        }
        >header{
            @include flex-order(-2);
            >h1 {
                margin-bottom: 0;
                @extend .pop-out-top;
                padding-top: 10rem;
                padding-bottom: 1rem;
            }
        }
        #breadcrumbs {
            @include flex-order(-3);    
        }
        img {
            width: 100%;
            height: auto;
        }
        span.mjx-chtml.MJXc-display {
            overflow: auto;
            overflow-y: hidden;
            @include respond-to(print) {
                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }
}