@import '_navigation';
@import '_sidebar';
main {
    overflow-x: hidden;
    width: 100%;
    min-height: 100vh;
    margin-top: $mobile-navigation-bar-height;
    padding: $main-mobile-padding;
    @include flex-order(2);
    @include flex-grow(6);
    @include respond-to(tablet-portrait) {
        padding: $main-tablet-padding;
    }
    @include respond-to(desktop) {
        width: $desktop-main-width;
        margin-top: 0;
        @include flex-align-items(stretch);
    }
    article {
        display: block; 
        figure {
            margin: 0;
            @include respond-to(print) {
                width: 50%;
                margin: auto;
            }
        }
        img {
            width: 100%;
            height: auto;
        }
        span.mjx-chtml.MJXc-display {
            overflow-y: hidden;
            overflow-x: auto;
            @include respond-to(tablet-portrait) {
                overflow: hidden;
            }
            @include respond-to(print) {
                overflow: auto;
                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
        >header>h1 {
            margin-bottom: 0;
            @extend .pop-out-top;
            padding-top: 10rem;
            padding-bottom: 1rem;
        }
    }
}