#content {
    @include flex-display();
    @include flex-direction(column);
    #table-of-contents {
        @include flex-order(-1);
    }
}

#metadata {
    @include flex-display();
    @include flex-wrap(wrap);
    @include flex-direction(column);
    @include respond-to(tablet-portrait) {
        @include flex-direction(row);
    }
    font-size: 0.8rem;
    float: right;
    margin-top: $mobile-navigation-bar-height;
    @include respond-to(desktop) {
        margin-top: 0;
    }
    span {
        line-height: 1;
        margin-left: 0.5rem;
        margin-bottom: 0.5rem;
        padding: 0.3rem;
        @include respond-to(tablet-portrait) {
            padding: 0.5rem;
        }
    }
}

#persons {
    section {
        background: $primary-light;
        border-left: 1rem solid $secondary-light;
        margin-top: 2rem;
        padding: 1rem;
    }
    img.profile-picture {
        float: right;
        height: 10rem;
        width: auto;
        margin-top: -0.5rem;
        border-radius: 100%;
    }
    blockquote {
        quotes: '"';
        margin: 0;
    }
    blockquote:before {
        color: $secondary-light;
        content: open-quote;
        font-size: 4rem;
        margin: 0.5rem;
        margin-top: -0.5rem;
        float: left;
    }
}

main {
    overflow-x: hidden;
    width: 100%;
    min-height: 100vh;
    padding: $main-mobile-padding;
    @include flex-order(2);
    @include flex-grow(6);
    @include respond-to(tablet-portrait) {
        padding: $main-tablet-padding;
    }
    @include respond-to(desktop) {
        width: $desktop-main-width;
        @include flex-align-items(stretch);
    }
    article {
        display: block;
        >header{
            @extend .pop-out-top;
            padding-top: 2rem;
            >h1 {
                margin-top: 10rem;
                padding-bottom: 1rem;
                margin-bottom: 0;
            }
        }
        img {
            max-width: 100%;
            height: auto;
            max-height: 35rem;
        }
        figure {
            text-align: center;
        }
        .MJXc-display {
            overflow-x: auto;
            overflow-y: hidden;
            @include respond-to(print) {
                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }
}