@import '_sass/helpers/_breakpoint';

[aria-expanded="false"] {
    display: inherit;
}

.toggler {
    display: none;
}

#navigation {
    position: relative;
    @include breakpoint($break-xl) {
        position: fixed;
    }
}