$main-tablet-padding: 4rem;
$main-mobile-padding: 1rem;

$mobile-navigation-bar-height: 3rem;

$desktop-navigation-width: 20%;
$desktop-sidebar-width: 30%;
$desktop-main-width: 100% - $desktop-navigation-width - $desktop-sidebar-width;