//- Adds the metadata for a document description.
mixin metaDescription(defaultDescription)
    //- Define the meta description of the document
    -var meta_description
    //- Unless a document summary is provided in _data.json, use the default description
    if !description ? meta_description = defaultDescription : meta_description = description
    //- Warning of the recommended length of the description
    if meta_description.length > 155
        -console.log("WARNING: " + getCurrentUrl() + " Meta description is too long (l=" + meta_description.length + ">155): " + meta_description + "\n")
    meta(property='description' content="#{meta_description}")
    meta(property='og:description' content="#{meta_description}")
    meta(name='twitter:description' content="#{meta_description}")