//- Initial counter value of the figures
-var figureNo = 0;
//- The list of figures accessible from the current referencing document
-var figures = Current.figures();
//- Retrieve the localized variables for the modules
-
    var figuresVariables;
    if (Current.locale()) {
        let localeVariables = Current.locale().variables;
        figuresVariables = localeVariables.modules.figures;
    }

//- Adds a numbered image block. An image may be fetched from external sources.
    @param {String} src the source URL of the image.
    @param {String} alt the alternative text of the image.
mixin img(src, alt)
    if Current.locale()
        -figureNo++
        figure(id!="figure-" + figureNo)
            img(src!=src, alt!=alt)
            figcaption
                header!=figuresVariables.figure + ' ' + figureNo
                span!=": "
                    block

//- Adds a numbered figure block. The figure should be declared in the localized 
    figures folder at the root of the referencing document.
    @param {String} fileName the name of the file of the figure with its 
    extension.
mixin fig(fileName)
    if fileName && Current.locale()
        -figureNo++
        //- Retrieve the source and the alternative text of the figure
        -
            let src;
            let alt;
            for (let i = 0; i < figures.length; i++) {
                let figure = figures[i];
                if (figure.slug === fileName) {
                    src = figure.path;
                    alt = figure.alt;
                }
            }
            if (!src) {
                throw new Error(
                    "No defined figures of file name " 
                    + fileName 
                    + " in _data.json"
                );
            }
            if (!alt) {
                console.warn("No defined alternative text for figure of file name " + fileName);
            }
        figure(id!="figure-" + figureNo)
            img(src!=src, alt!=alt)
            figcaption
                header!=figuresVariables.figure + ' ' + figureNo
                span!=": "
                    block