include ../model
include _section
include _modules
include _mathjax
include _links
if DOCUMENT.category
    include _figure

mixin ad(t0)
    // Ad
mixin tableOfContents()
    // Table of Contents