//- Lists and links to all categories and sub categories. 
    Each category requires a _data.json file and a 'slug' field which corresponds to the folder name.
mixin linkCategories(root, rootUrl)
    ul
        each category, slug in root._data.categories
            li
                -var url
                if(rootUrl) ? url = rootUrl + '/': url = ''
                a(href='#{url}#{category.slug}') #{category.headline}
                //- root[category.slug]._data must exist
                if (root[category.slug]._data.categories)
                    i.fa.fa-fw.fa-caret-down.toggler(collapsed)
                    +linkCategories(root[category.slug], category.slug)
