include /_jade/redaction/_redaction

+h(2, "La définition d'un vecteur")
        //- TODO: Définir un vecteur
        //- TODO: Introduire les notations d'un vecteur

    +h(3, "Les composantes d'un vecteur")

        +theorem("Le vecteur défini par ses composantes")
            p Soit la composante horizontale #[+e() A_x] et la composante verticale #[+e() A_y] d'un vecteur #[+e() \vec{\mathbf{A}}.] Alors,
            +leq("vecteur-composantes") \vec{\mathbf{A}}=(A_x,A_y)

        +example("Déterminer les composantes d'un vecteur")

        +example("Tracer un vecteur à partir de ses composantes")

        +example("Déterminer les composantes d'un vecteur entre deux points")

    +h(3, "Les vecteurs polaires")
        //- TODO: Définir la norme d'un vecteur
        //- TODO: Définir l'orientation d'un vecteur

        +example("Tracer un vecteur à partir de son orientation et de sa norme")

    +h(3, "Les vecteurs unitaires")
        //- TODO: Mettre en valeur qu'un vecteur unitaire représente une direction

        +theorem("Le vecteur unitaire d'un vecteur")

    +h(3, "Les vecteurs orthonormaux")
        //- TODO: Mettre en valeur que des vecteurs orthonormaux définissent l'espace

+tableOfContents()