-
    class Sitemap {

        /**
         * https://support.google.com/webmasters/answer/75712
         * @returns {String[]} the array of URLs to localized sitemaps. 
         */
        static sitemaps() {
            let urlset = [];
            let locales = Site.locales();
            for (let i = 0; i < locales.length; i++) {
                let locale = locales[i];
                urlset.push(locale.url + "sitemap.xml");
            }
            return urlset;
        }

    }