include _jade/model
doctype xml
browserconfig
    msapplication
        tile
            square70x70logo(src=WEBSITE.faviconFolder + "ms-icon-70x70.png")/
            square150x150logo(src=WEBSITE.faviconFolder + "ms-icon-150x150.png")/
            square310x310logo(src=WEBSITE.faviconFolder + "ms-icon-310x310.png")/
            TileColor!=WEBSITE.themeColor