include _jade/model
-
    const START_URL = '/index.html';
    const DISPLAYS = [
        'fullscreen',
        'standalone',
        'minimal-ui',
        'browser',
    ];
    const ORIENTATIONS = [
        'any',
        'natural',
        'landscape',
        'landscape-primary',
        'landscape-secondary',
        'portrait',
        'portrait-primary',
        'portrait-secondary',
    ];
    const MANIFEST = {
        'name': WEBSITE.name,
        'short_name': WEBSITE.shortName,
        'start_url': START_URL,
        'display': DISPLAYS[1],
        'orientation': ORIENTATIONS[0],
        'background_color': WEBSITE.themeColor,
        'theme_color': WEBSITE.themeColor
    };
    // Icons
    MANIFEST.icons = [];
    const DENSITIES = [
        0.75,
        1.0,
        1.5,
        2.0,
        3.0,
        4.0,
    ];
    const SIZE = 48;
    for (let density of DENSITIES) {
        const dimensions = density * SIZE + 'x' + density * SIZE;
        MANIFEST.icons.push({
            src: WEBSITE.faviconFolder + 'android-icon-' + dimensions + '.png',
            sizes: dimensions,
            type: 'image\/png',
            density: density
        });
    }
!=JSON.stringify(MANIFEST, null, '\t')