include /_jade/model/_model.js.jade
!="Sitemap: " + Site.url() + "/sitemap.xml"
for sitemap in Sitemap.sitemaps()
    !="\nSitemap: " + sitemap
!="\nUser-agent: *"
!="\nDisallow: /index.html"
!="\nDisallow: /res/"
!="\nAllow: /res/thumbnails/"
!="\nDisallow: /css/res/"
!="\nDisallow: /privacy-policy.html"
!="\nDisallow: /sitemap*"