include /_jade/base/_functions

//- Constructs the breadcrumb navigation of the current page.
mixin breadcrumbs()
    -
        function fetchBreadcrumbs() {
            let breadcrumbs = [];
            let path = current.path;
            if (path.length > 1) {
                //- Access locale
                let root = public[path[0]];
                let steps = path.length - 3;
                //- Traverse categories
                for (let i = 1; i < path.length - 1; i++) {
                    if (root._data) {
                        if (root._data.categories) {
                            let categories = root._data.categories;
                            breadcrumbs.push({
                                headline: categories[path[i]].headline,
                                url: parentFolderPath(steps)
                            });
                            steps--;
                            //- Move root deeper
                            root = root[path[i]];
                        } else {
                            console.log(
                                "Warning: Undefined categories "
                                + "in "
                                + path[i]
                                + " for document "
                                + getCurrentRelativePath()
                            );
                        }
                    } else {
                        console.log(
                            "Warning: Missing _data.json in "
                            + path[i]
                            + " for document "
                            + getCurrentRelativePath()
                        );
                    }
                }
                return breadcrumbs;
            }
        }

        /**
            Constructs the relative path to parent directories
            given the level of folders to go back from.
        */
        function parentFolderPath(steps) {
            let path = "";
            //- Back to root of current folder
            if (steps === 0) {
                path = "./";
            } else {
                //- Move backwards
                for (let i = 0 ; i < steps; i++) {
                    path += "../";
                }
            }
            return path;
        }   

        var breadcrumbs = fetchBreadcrumbs();
    //- Standard breadcrumbs structure
    nav.breadcrumbs
        ol
            each breadcrumb, index in breadcrumbs
                li: a(href!=breadcrumbs[index].url)!=breadcrumbs[index].headline