#primary-navigation {
    background: $primary-dark;
    color: white;
    text-transform: uppercase;
    ul {
        list-style: none;
        background: $secondary-dark;
        @include respond-to(desktop) {
            background: transparent;
        }
    }
    li a {
        color: white;
        text-decoration: none;
        &:hover {
            color: $primary-yellow;
            background: $primary-dark;
            border-left: 0.3rem solid $primary-yellow;
            @include respond-to(desktop) {
                transition: all 0.1s ease-in-out;
                background: $secondary-dark;
            }
        }
    }
    header {
        background: $primary-dark;
        @include respond-to(desktop) {
            background: transparent;
        }
    }
}