$main-tablet-padding: 4rem;
$main-mobile-padding: 1rem;

.pop-out {
    width: auto;
    padding-left: $main-mobile-padding;
    padding-right: $main-mobile-padding;
    @include breakpoint($break-md) {
        padding-left: $main-tablet-padding;
        padding-right: $main-tablet-padding;
    }
    margin-left: -$main-mobile-padding;
    margin-right: -$main-mobile-padding;
    @include breakpoint($break-md) {
        margin-left: -$main-tablet-padding;
        margin-right: -$main-tablet-padding;
    }
}

.pop-out-top {
    @extend .pop-out;
    padding-top: $main-mobile-padding;
    @include breakpoint($break-md) {
        padding-top: $main-tablet-padding;
    }
    margin-top: -$main-mobile-padding;
    @include breakpoint($break-md) {
        margin-top: -$main-tablet-padding;
    }
}

.pop-out-bottom {
    @extend .pop-out;
    padding-bottom: $main-mobile-padding;
    @include breakpoint($break-md) {
        padding-bottom: $main-tablet-padding;
    }
    margin-bottom: -$main-mobile-padding;
    @include breakpoint($break-md) {
        margin-bottom: -$main-tablet-padding;
    }
}

.pop-out-full {
    @extend .pop-out;
    @extend .pop-out-top;
    @extend .pop-out-bottom;
}

main {
    overflow-x: hidden;
    width: 100%;
    min-height: 100vh;
    padding: $main-mobile-padding;
    @include breakpoint($break-md) {
        padding: $main-tablet-padding;
    }
    @include breakpoint($break-xl) {
        width: 60%;
    }
    article {
        display: block;
        >header{
            @extend .pop-out-top;
            padding-top: 2rem;
            >h1 {
                margin-top: 10rem;
                padding-bottom: 1rem;
                margin-bottom: 0;
            }
        }
        img {
            max-width: 100%;
            height: auto;
            max-height: 35rem;
        }
        figure {
            text-align: center;
        }
        .MJXc-display {
            overflow-y: hidden;
            overflow-x: auto;
            @include breakpoint($break-print) {
                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }
}