#secondary-navigation {
    position: relative;
    z-index: 3; //Set footer above navigation
    width: 100%;
    @include flex-display();
    @include flex-justify-content(center);
    @include flex-wrap(wrap);
    @include flex-align-items(center);
    @include flex-direction(column);
    @include respond-to(desktop) {
        @include flex-justify-content(space-between);
        @include flex-direction(row);
    }
    @include respond-to(print) {
        display: none;
    }
    a {
        display: block;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        &.links {
            padding: 1rem;
        }
        @include flex-display();
        @include flex-justify-content(center);
        @include flex-wrap(wrap);
    }
    li {
        padding: 0.5rem;
        &:nth-last-child() {
            margin-right: 0;
        }
    }
}