ol#articles{
    list-style: none;
    padding: 0;
    margin: 0;
    h2 {
        margin-bottom: 0;
    }
    > li {
        padding-top: 1rem;
        padding-bottom: 1rem; 
        @extend .pop-out;
    }
    >li:first-child {
        @extend .pop-out-top;
    }
    >li:last-child {
        @extend .pop-out-bottom;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        &.authors {
            display: inline-block;
            li {
                display: inline-block;
                &+li:before {
                    content: ",\00a0";
                }
            }
        }
    }
}