h1,
h2,
h3,
h4,
h5,
h6 {
    a {
        display: none;
        @include respond-to(tablet-portrait) {
            $transition-time: 0.2s;
            display: block;
            i.fa {
                font-size: 0.7em;
                vertical-align: middle;
                margin-left: -1.2em;
                margin-top: 0.3em;
                display: inline-block;
                position: absolute;
            }
        }
    }
}