section.module {
    border-style: solid;
    border-width: 4px;
    margin-top: 1rem;
    article {
        padding: 1rem;
    }
    > header {
        width: 100%;
        padding: 0.5rem;
    }
    i.toggler {
        float: right;
        @include respond-to(print) {
            display: none;
        }
    }
}