.light {

}

.dark {
    
}

@mixin colorize($primary-color, $secondary-color) {
    h1 {
        background-color: $primary-color;
    }
    a {
        &:link {
            color: $primary-color;
        }
        &:hover,
        &:visited {
            color: $secondary-color;
        }
    }
    section#contributors {
        img {
            border-color: $secondary-color;
            @include respond-to(desktop) {
                transition: all 0.3s ease-in-out;
            }
            &:hover {
                border-color: white !important;
                @include respond-to(desktop) {
                    transition: all 0.3s ease-in-out;
                }
            }
        }
        section {
            background: $primary-color;
        }
    }
}

article {
    >header>h1 {
        color: white;
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

main.turquoise {
    @include colorize($primary-turquoise, $secondary-turquoise);
    h1 {
        background-image: url("/css/res/pattern-turquoise.svg");
    }
}

main.green {
    @include colorize($primary-green, $secondary-green);
    h1 {
        background-image: url("/css/res/pattern-green.svg");
    }
}

main.blue {
    @include colorize($primary-blue, $secondary-blue);
    h1 {
        background-image: url("/css/res/pattern-blue.svg");
    }
}

main.purple {
    @include colorize($primary-purple, $secondary-purple);
    h1 {
        background-image: url("/css/res/pattern-purple.svg");
    }
}

main.dark {
    @include colorize($primary-dark, $secondary-dark);
    h1 {
        background-image: url("/css/res/pattern-dark.svg");
    }
}

main.yellow {
    @include colorize($primary-yellow, $secondary-yellow);
    h1 {
        background-image: url("/css/res/pattern-yellow.svg");
    }
}

main.orange {
    @include colorize($primary-orange, $secondary-orange);
    h1 {
        background-image: url("/css/res/pattern-orange.svg");
    }
}

main.red {
    @include colorize($primary-red, $secondary-red);
    h1 {
        background-image: url("/css/res/pattern-red.svg");
    }
}

main.light {
    @include colorize($primary-light, $secondary-light);
    h1 {
        background-image: url("/css/res/pattern-light.svg");
    }
}

main.grey {
    @include colorize($primary-grey, $secondary-grey);
    h1 {
        background-image: url("/css/res/pattern-grey.svg");
    }
}