@mixin colorize($primary-color, $secondary-color, $color-string) {
    article>header {
        background-image: url("/css/res/pattern-" + $color-string + ".svg");
        background-color: $primary-color;
    }
    #metadata {
        span {
            background: rgba($secondary-color, 0.6);
        }
    }
}

#metadata {
    color: white;
}

article {
    >header {
        >h1 {
            color: white;
        }

    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

//Adds an icon indicative of external links
#content a.external-link[target="_blank"]:after {
    content: ' \f08e';
    font-family: FontAwesome;
}

main {
    &.turquoise {
        @include colorize($primary-turquoise, $secondary-turquoise, "turquoise");
    }
    &.green {
        @include colorize($primary-green, $secondary-green, "green");    
    }
    &.blue {
        @include colorize($primary-blue, $secondary-blue, "blue");
    }
    &.purple {
        @include colorize($primary-purple, $secondary-purple, "purple");
    }
    &.dark {
        @include colorize($primary-dark, $secondary-dark, "dark");
    }
    &.yellow {
        @include colorize($primary-yellow, $secondary-yellow, "yellow");
    }
    &.orange {
        @include colorize($primary-orange, $secondary-orange, "orange");
    }
    &.red {
        @include colorize($primary-red, $secondary-red, "red");
    }
    &.light {
        @include colorize($primary-light, $secondary-light, "light");
    }
    &.grey {
        @include colorize($primary-grey, $secondary-grey, "grey");
    }
}