include ../model/model.jade
h1!=WEBSITE.name
h2 Url
p Website URL: #{WEBSITE.url}
p Website source URL: #{WEBSITE.sourceUrl}
h2 Authentifications
p Website Authentifications: 
pre!=JSON.stringify(WEBSITE.authentifications, null, "\t")
h2 Contents
-let path = ["fr-CA", "mathematiques", "5e-secondaire-sn", "les-coniques"];
details: pre!=JSON.stringify(WEBSITE.contents(path), null, "\t")
h2 Data
details: pre!=JSON.stringify(WEBSITE.data(path), null, "\t")
h2 Root
details: pre!=JSON.stringify(WEBSITE.root, null, "\t")