//- Standard footer structure.
footer#secondary-navigation
    nav
        ul
            block links
                include /_jade/components/_footer-links
    ul
        block social-links
            include /_jade/components/_site-social-links