include /_jade/base/_functions
-
    var documentMetadata = fetchDocumentMetadata();

//- Standard sidebar structure.
footer#sidebar
    block sidebar-content
        nav.share
            ul
                block sidebar-content-share
                    include /_jade/components/_share-icons
                    if documentMetadata && documentMetadata.allowComments
                        include /_jade/components/_comment-icon