include /_jade/base/_functions

//- Standard sidebar structure.
footer#sidebar
    block sidebar-content
        nav.share
            ul
                block sidebar-content-share
                    include /_jade/components/_share-icons