extends /_jade/layout/_sidebar

block append sidebar-content-share
    li: a.comment(href="#comments" rel="nofollow")
        span.fa-stack
            i.fa.fa-stack-2x.fa-square
            i.fa.fa-stack-1x.fa-inverse.fa-comment