-var figureNo = 0;
-var figures = Current.figures();
-
    var figuresVariables;
    if (Current.locale()) {
        let localeVariables = Current.locale().variables;
        figuresVariables = localeVariables.modules.figures;
    }

//- Adds a numbered image block. An image may be fetched from external sources.
mixin img(src, alt)
    if Current.locale()
        -figureNo++
        figure(id!="figure-" + figureNo)
            img(src!=src, alt!=alt)
            figcaption
                header!=figuresVariables.figure + ' ' + figureNo
                span!=": "
                    block

//- Adds a numbered figure block.
mixin fig(fileName)
    if fileName && Current.locale()
        -figureNo++
        -
            let src;
            let alt;
            for (let i = 0; i < figures.length; i++) {
                let figure = figures[i];
                if (figure.slug === fileName) {
                    src = figure.path;
                    alt = figure.alt;
                }
            }
            if (!src) {
                throw new Error(
                    "No defined figures of file name " 
                    + fileName 
                    + " in "
                    + figuresVariables.folder 
                    + '/' 
                    + " or in _data.json"
                );
            }
            if (!alt) {
                console.warn("No defined alternative text for figure of file name " + fileName);
            }
        figure(id!="figure-" + figureNo)
            img(src!=src, alt!=alt)
            figcaption
                header!=figuresVariables.figure + ' ' + figureNo
                span!=": "
                    block