include /_jade/base/_functions

//- Adds an anchor to the headline.
mixin heading(headline)
    if headline
        a(href='##{slugify(headline)}' id='#{slugify(headline)}'): i.fa.fa-link
        !=headline

//- Displays and identifies a headline.
    Should not be used as an inline mixin.
    Since the headline is passed as a Javascript parameter,
    it is subject to escape characters.
mixin h(level, headline)
    if !level && !headline
        -console.error("Error: Undefined heading @" + current.path);
    else if !level && headline
        -console.error("Error: Undefined heading level \"" + headline + "\"@" + current.path);
    else if level && !headline
        -console.error("Error: Undefined headline of level " + level + "@" + current.path);
    else
        case level
            when 1
                h1.heading: +heading(headline)
            when 2
                h2.heading: +heading(headline)
            when 3
                h3.heading: +heading(headline)
            when 4
                h4.heading: +heading(headline)
            when 5
                h5.heading: +heading(headline)
            when 6
                h6.heading: +heading(headline)
            default
                -console.error("Error: Invalid headline level " + level + ' "' + headline + '" at ' + getCurrentRelativePath())