//- MathJax reference: https://math.meta.stackexchange.com/questions/5020/mathjax-basic-tutorial-and-quick-reference

//- MathJax delimiters.
-var inlineMathPrefix = "\\("
-var inlineMathSuffix = "\\)"

-var displayedMathPrefix = "$$"
-var displayedMathSuffix = "$$"

//- Delimits an inline MathJax expression.
    Usage:
    p.
        The difference of square ... #[+e() x^2-1=(x-1)(x+1)]
mixin e()
    != inlineMathPrefix
    block
    != inlineMathSuffix

//- Delimits a displayed MathJax expression.
    Should not be used as an inline mixin.
    Usage:
    +eq().
        \begin{align*}
        (x+2)^3&=(x+2)(x+2)(x+2)
        \\&=(x^2+2x+2x+4)(x+2)
        \\&=(x^2+4x+4)(x+2)&&\text{Combine like terms}
        \\&=(x^3+4x^2+4x+2x^2+8x+8)
        \\&=x^3+6x^2+12x+8
        \end{align*}
mixin eq()
    != displayedMathPrefix
    != "\\begin{align*}"
    block
    != "\\end{align*}"
    != displayedMathSuffix

//- Delimits a labeled displayed MathJax equation.
    Should not be used as an inline mixin.
    @param {String} label the identification label of the numbered equation.
    Usage:
    +leq("quadratique") x=\frac{-b\pm\sqrt{b^2-4ac}}{2a}
mixin leq(label)
    != displayedMathPrefix
    != "\\begin{equation}"
    block
    != "\\label{" + label + "}"
    != "\\end{equation}"
    != displayedMathSuffix

//- Delimits a MathJax equation reference.
    @param {String} label the identification label of the referenced equation.
    Usage:
    p.
        The quadratic formula #[+eqref("quadratique")] ...
mixin eqref(label)
    != inlineMathPrefix
    != "\\eqref{"
    != label
    != "}"
    block
    != inlineMathSuffix