include /_jade/redaction/_redaction

+h(2, "La définition de la fonction sinus")

    +h(3, "Le domaine de la fonction sinus")

    +h(3, "L'image de la fonction sinus")

    +h(3, "Le signe de la fonction sinus")

    +h(3, "La croissance et la décroissance de la fonction sinus")

    +h(3, "Les points remarquables de la fonction sinus")

+h(2, "La résolution d'équations impliquant la fonction sinus")

+tableOfContents()