include /_jade/redaction/_redaction

+h(2, "Les relations de Pythagore")

    p Partant des sections coniques, l'équation d'un cercle unitaire centré à l'origine est #[+e() x^2+y^2=1.] De la définition des fonctions sinus et cosinus, sachant que la fonction #[+e() \cos(\alpha)] correspond à l'abscisse d'un point trigonométrique #[+e() P=(x,y)] et que la fonction #[+e() \sin(\alpha)] correspond à l'ordonnée d'une même point trigonométrique, alors

    +leq("relation-pythagore-1"). 
        \sin^2(\alpha)+\cos^2(\alpha)=1.

    p Partant de l'équation #[+eqref("relation-pythagore-1") ,] en multipliant de part et d'autre l'équation par #[+e() \dfrac{1}{\cos^2(\alpha)},]

    +eq().
        \dfrac{1}{\cos^2(\alpha)}\left(\sin^2(\alpha)+\cos^2(\alpha)\right)&=\dfrac{1}{\cos^2(\alpha)}
        \\\dfrac{\sin^2(\alpha)}{\cos^2(\alpha)}+\dfrac{\cos^2(\alpha)}{\cos^2(\alpha)}&=\dfrac{1}{\cos^2(\alpha)}.

    p Par conséquent, en vertu de la définition des fonctions tangente et sécante, on peut écrire

    +leq("relation-pythagore-2"). 
        \tan^2(\alpha)+1=\sec^2(\alpha).

    p Similairement, en multipliant de part et d'autre l'équation #[+eqref("relation-pythagore-1")] par #[+e() \dfrac{1}{\cos^2(\alpha)},]

    +eq().
        \dfrac{1}{\cos^2(\alpha)}\left(\sin^2(\alpha)+\cos^2(\alpha)\right)&=\dfrac{1}{\cos^2(\alpha)}
        \\\dfrac{\sin^2(\alpha)}{\sin^2(\alpha)}+\dfrac{\cos^2(\alpha)}{\sin^2(\alpha)}&=\dfrac{1}{\cos^2(\alpha)}.

    p Par conséquent, en vertu de la définition des fonctions cotangente et cosécante, on peut écrire

    +leq("relation-pythagore-3"). 
        1+\cot^2(\alpha)=\csc^2(\alpha).

+h(2, "Les propriétés de cofonction")

    p Les propriétés de cofonction des fonctions trigonométriques découlent de leur définition dans un triangle rectangle. Soit un triangle #[+e() \triangle ABC] rectangle en #[+e() B] tel que #[+e() \angle BCA=\gamma,] #[+e() \angle CAB=\alpha] et #[+e() \angle ABC=\beta=\dfrac{\pi}{2}\text{ rad}.]

    //TODO+fig("")

    p Sachant que la somme des angles intérieurs d'un triangle vaut #[+e() \pi\text{ rad},] alors #[+e() \alpha+\beta+\gamma=\pi\text{ rad}.] Par conséquent,

    +eq().
        \sin\left(\dfrac{\pi}{2}-\alpha\right)&=\sin(\beta-\alpha)
        \\&=\sin(\gamma).

    p La définition de la fonction sinus stipule que #[+e() \sin(\gamma)] correspond au rapport entre le côté opposé à #[+e() \gamma] et l'hypoténuse dans un triangle rectangle. Aussi, la définition de la fonction cosinus stipule que #[+e() \cos(\alpha)] correspond au rapport entre l'hypoténuse et le côté opposé à #[+e() \alpha] dans un triangle rectangle. Par conséquent,

    +eq().
        \sin(\gamma)&=\dfrac{\overline{AB}}{\overline{AC}}
        \\&=\cos(\alpha).

    p Il en découle que 

    +leq("cofonction-sinus").
        \sin\left(\dfrac{\pi}{2}-\alpha\right)=\cos(\alpha).

    p La même séquence de raisonnement s'applique pour toutes les fonctions trigonométriques.

    +eq().
        \cos\left(\dfrac{\pi}{2}-\alpha\right)&=\cos(\beta-\alpha)
        \\&=\cos(\gamma)\because\alpha+\beta+\gamma=\pi\text{ rad}
        \\&=\dfrac{\overline{BC}}{\overline{AC}}

    p Alors,

    +leq("cofonction-cosinus").
        \cos\left(\dfrac{\pi}{2}-\alpha\right)=\sin(\alpha).

    +eq().
        \tan\left(\dfrac{\pi}{2}-\alpha\right)&=\tan(\beta-\alpha)
        \\&=\tan(\gamma)\because\alpha+\beta+\gamma=\pi\text{ rad}
        \\&=\dfrac{\overline{AB}}{\overline{BC}}

    p Alors,

    +leq("cofonction-tangente").
        \tan\left(\dfrac{\pi}{2}-\alpha\right)=\cot(\alpha).

    //TODO

+h(2, "Les identités d'addition et de soustraction d'angles")

    p Soit les points trigonométriques #[+e() A=(\cos(\alpha),\sin(\alpha))] et #[+e() B=(\cos(\beta),\sin(\beta))] sur un cercle unitaire centré en #[+e() O,] tel que #[+e() \alpha] et #[+e() \beta] se propagent dans le sens anti-horaire à partir de l'horizontale. Le triangle #[+e() \triangle AOB] est isocèle, puisque #[+e() \overline{AO}=\overline{OB}.] Tel qu'illustré par la figure suivante, #[+e() \angle AOB=\alpha-\beta.] Pour simplifier les calculs, on propose que #[+e() A=(A_x,A_y)] et que #[+e() B=(B_x,B_y).]

    //TODO+fig("")

    p Ensuite, soit les points trigonométriques #[+e() A^\prime=(\cos(\alpha-\beta),\sin(\alpha-\beta))] et #[+e() B^\prime=(1,0),] les transformations par rotation des points #[+e() A] et #[+e() B.] Les triangles #[+e() \triangle AOB] et #[+e() \triangle A^\prime OB^\prime] sont isométriques. Par conséquent, #[+e() \angle A^\prime OB^\prime=\alpha-\beta.] Pour simplifier les calculs, on propose que #[+e() A^\prime=(A_x^\prime,A_y^\prime)] et que #[+e() B^\prime=(B_x^\prime,B_y^\prime).]

    //TODO+fig("")

    p Sachant que #[+e() A,] #[+e() B,] #[+e() A^\prime] et #[+e() B^\prime] sont des points trigonométriques respectant l'équation #[+e() x^2+y^2=1,] il sera possible de développer l'équation #[+e() \overline{AB}=\overline{A^\prime B^\prime}] à l'aide de la formule de la distance entre deux points.

    +eq().
        \overline{AB}&=\overline{A^\prime B^\prime}
        \\\sqrt{(A_x-B_x)^2+(A_y-B_y)^2}&=\sqrt{(A_x^\prime-B_x^\prime)^2+(A_y^\prime-B_y^\prime)^2}
        \\(A_x-B_x)^2+(A_y-B_y)^2&=(A_x^\prime-1)^2+(A_y^\prime-0)^2

    +eq().
        (A_x-B_x)^2+(A_y-B_y)^2&=A_x^2-2A_xB_x+B_x^2+A_y^2-2A_yB_y+B_y^2
        \\&=A_x^2+A_y^2+B_x^2+B_y^2-2A_xB_x-2A_yB_y
        \\&=1+1-2A_xB_x-2A_yB_y\because x^2+y^2=1
        \\&=2(1-A_xB_x-A_yB_y)

    +eq().
        (A_x^\prime-1)^2+(A_y^\prime)^2&=(A_x^\prime)^2-2A_x^\prime+1+(A_y^\prime)^2
        \\&=(A_x^\prime)^2+(A_y^\prime)^2-2A_x^\prime+1
        \\&=1-2A_x^\prime+1\because x^2+y^2=1
        \\&=2(1-A_x^\prime)

    +eq().
        (A_x-B_x)^2+(A_y-B_y)^2&=(A_x^\prime-1)^2+(A_y^\prime)^2
        \\2(1-A_xB_x-A_yB_y)&=2(1-A_x^\prime)
        \\1-A_xB_x-A_yB_y&=1-A_x^\prime
        \\A_x^\prime&=A_xB_x-A_yB_y

    p Alors, en substituant les valeurs appropriées de coordonnées des points #[+e() A^\prime,] #[+e() A] et #[+e() B,] on obtient

    +leq("cosinus-soustraction-angles").
        \cos(\alpha-\beta)=\cos(\alpha)\cos(\beta)+\sin(\alpha)\sin(\beta).

    p À partir de l'équation #[+eqref("cosinus-soustraction-angles") ,] il est possible de substituer #[+e() \beta\leftarrow-\beta] pour connaître l'identité du cosinus de la somme de deux angles. Sachant que la fonction cosinus est paire et que la fonction sinus est impaire, c'est-à-dire que #[+e() \cos(-\theta)=\cos(\theta)] et #[+e() \sin(-\theta)=-\sin(\theta)] pour tous #[+e() \theta\in\mathbb{R}, ] alors

    +eq().
        \cos(\alpha-(-\beta))&=\cos(\alpha)\cos(-\beta)+\sin(\alpha)\sin(-\beta)
        \\\cos(\alpha+\beta)&=\cos(\alpha)\cos(\beta)+\sin(\alpha)\sin(-\beta).

    p Il en résulte que 

    +leq("cosinus-addition-angles").
        \cos(\alpha+\beta)=\cos(\alpha)\cos(\beta)-\sin(\alpha)\sin(\beta).

    p Il est possible de combiner les équations #[+eqref("cosinus-soustraction-angles")] et #[+eqref("cosinus-addition-angles")] en une seule équation facile à mémoriser.

    +leq("cosinus-addition-soustraction-angles").
        \cos(\alpha\pm\beta)=\cos(\alpha)\cos(\beta)\mp\sin(\alpha)\sin(\beta)

    p On pourra ensuite déterminer l'équation du sinus de la soustraction de deux angles à l'aide de la propriété de cofonction de la fonction cosinus d'équation #[+eqref("cofonctino-cosinus") .]

+h(2, "Les identités des angles doubles")

+h(2, "Les identités de réduction de puissance")

+h(2, "Les identités du passage de la somme au produit de fonctions")

+h(2, "Les identités du passage du produit à la somme de fonctions")

+tableOfContents()