meta(property='article:published_time' 
    content=moment(DOCUMENT.publicationDateCode).format())
meta(property='article:modified_time' 
    content=moment(DOCUMENT.latestModificationDateCode).format())
meta(property='article:publisher' content='https://www.facebook.com/' 
    + Website.decode(WEBSITE.socialProfiles.facebookPage))