link(rel='stylesheet' href=plugins.normalize.cdn)
link(rel='stylesheet' href=plugins.fontAwesome.cdn)
link(rel='stylesheet' href=plugins.flexboxGrid.cdn)

link(rel='stylesheet' href='/css/main.css')
noscript
    link(rel='stylesheet' href='/css/noscript.css')