if DOCUMENT.headline
    meta(name='twitter:title' content=DOCUMENT.headline)
if DOCUMENT.description
    meta(name='twitter:description' content=DOCUMENT.description)
meta(name='twitter:card' content='summary')
meta(name='twitter:site' content='@' 
    + Website.decode(WEBSITE.socialProfiles.twitterAccount))
if DOCUMENT instanceof Article
    meta(name='twitter:image' content=WEBSITE.url.replace("https://", "http://")
        + DOCUMENT.category.thumbnailPath)