$color-facebook: #3b5999;
$color-twitter: #55acee;
$color-google-plus: #dd4b39;
$color-reddit: #ff5700;
$color-comment: #64DD17;
$color-github: #171515;
$color-email: #ffa500;

.social a {
    $transition: color 0.1s ease-in-out;
    @include respond-to(desktop){
        transition: $transition;
    }
    i {
        @include respond-to(desktop){
            transition: $transition;
        }
    }
    &.facebook {
        color: $color-facebook;
        i:hover {
            color: $color-facebook;
        }
    }
    &.twitter {
        color: $color-twitter;
        i:hover {
            color: $color-twitter;
        }
    }
    &.reddit {
        color: $color-reddit;
        i:hover {
            color: $color-reddit;
        }
    }
    &.github {
        color: $color-github;
        i:hover {
            color: $color-github;
        }
    }
    &.email {
        color: $color-email;
        i:hover {
            color: $color-email;
        }
    }
    &:hover {
        color: white;
    }
}