include /_jade/base/_functions

include /_jade/redaction/_redaction

-var thumbnailUrl = "/res/thumbnails/thumbnail-dark.png"

-console.log("Processing " + getCurrentRelativePath());

doctype html
html(lang="fr")
    head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#")

        include /_jade/mixins/head/_head

        //- Meta author
        include _jade/mixins/_author

        //- Meta title
        +metaTitle(public._data.globals.site_name)

        //- Meta description
        +metaDescription(getCurrentLocaleRoot()._data.globals.description)

        //- The document type
        block og:type
            meta(property='og:type' content="article")

        //- Meta thumbnails
        block og:image
            +ogimage(thumbnailUrl, "png", 300, 300)
        block twitter:image
            +twitterimage(thumbnailUrl)

        include /_jade/base/_favicon

        block stylesheets
            include /_jade/base/_stylesheets
            if containsCode 
                include /_jade/components/_prism-stylesheets
    body
        .wrapper
            block content
                main.grey
                    article
                        header
                            +h(1, headline)
                        != yield
            include _jade/layout/_navigation
            include /_jade/layout/_sidebar
        include _jade/layout/_footer
        block scripts
            include /_jade/components/_scripts
            if containsMath
                include /_jade/components/_mathjax
            if containsCode 
                include /_jade/components/_prism-scripts