include /_jade/base/_functions

//- Localized RSS feed
doctype xml
rss(version="2.0")
    -
        console.info("Processing " + getCurrentUrl() + " RSS feed");
        var items = fetchAllArticles();
        var locale = getCurrentOgLocale();
    for item in items
        if item.locale = locale
            if item.info
                item
                    title!=item.info.headline
                    link!=public._data.globals.url + item.path
                    description!=item.info.description