include /_jade/base/_debug

p. 
    //- TODO: Write a mixin for a declarative equation vvv
    $$\begin{equation}x=\frac{-b\pm\sqrt{b^2-4ac}}{2a}\label{quadratique}\end{equation}$$
    //- TODO: Write a mixin for a reference to ^^^
    Cette équation \(\eqref{quadratique}\) est la formule quadratique.