@import url('https://fonts.googleapis.com/css?family=Arimo:700|Roboto');

$base-font: 'Roboto', 'Optima', sans-serif;
$heading-font: 'Arimo', 'Franklin Gothic Medium', sans-serif;

$base-line-height: 1.5rem;
$heading-line-height: normal;

$font-size: 14pt;
$print-font-size: 11pt;

body {
	font-family: $base-font;
	font-size: $font-size;
	line-height: $base-line-height;
	@include breakpoint($break-print) {
		font-size: $print-font-size;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
	line-height: $heading-line-height;
}

$heading-size: 3rem, 2.6rem, 2.3rem, 2rem, 1.8rem, 1.5rem;

@mixin heading-size($level) {
	font-size: nth($heading-size, $level);
}

h1 {@include heading-size(1);}
h2 {@include heading-size(2);}
h3 {@include heading-size(3);}
h4 {@include heading-size(4);}
h5 {@include heading-size(5);}
h6 {@include heading-size(6);}