-
    class Locale {

        constructor({
            languageName, languageCode, countryName, countryCode,
            variables
        }) {
            this._languageName = languageName;
            this._languageCode = languageCode;
            this._countryName = countryName;
            this._countryCode = countryCode;
            this._variables = variables;
        }

        /**
         * @returns {String} the localized name of the language of this locale.
         */
        get languageName() {
            return this._languageName;
        }

        /**
         * @returns {String} the localized name of the country of this locale.
         */
        get countryName() {
            return this._countryName;
        }

        /**
         * @returns {String} the language code of this locale.
         */
        get languageCode() {
            return this._languageCode;
        }

        /**
         * @returns {String} the country code of this locale.
         */
        get countryCode() {
            return this._countryCode;
        }

        /**
         * @returns {String} the slug of this locale.
         */
        get slug() {
            return this.languageCode + "-" + this.countryCode;
        }

        /**
         * @returns {Object} the localized variables of this locale.
         */
        get variables() {
            return this._variables;
        }

        /**
         * Parses a locale of a given slug from the root data of the website.
         * @param {String} slug the slug of the locale to parse. 
         */
        static parse(slug) {
            let locales = DEFAULT_ROOT._data.locales;
            if (locales[slug]) {
                return new Locale(locales[slug]);
            } else {
                return null;
            }
        }
    }