-
    class Person {

        constructor({
            slug, fullName, profiles
        }) {
            this._slug = slug;
            this._fullName = fullName;
            this._profiles = profiles;
        }

        get fullName() {
            return this._fullName;
        }

        get slug() {
            return this._slug;
        }

        /**
         * 
         * @param locale 
         */
        biography(locale) {

        }

        get profilePicture() {
            
        }

        /**
         * Retrieves the social profile identification of this person from the 
         * given key social media.
         * @param {String} key the key of the social profile.
         * @throws {Error}
         */
        profile(key) {
            let profile = this._profiles[key];
            if (profile) {
                return profile;
            } else {
                throw new Error("No social media profile of key '" + key 
                + "' for " + this.fullName);
            }
        }

    }