-
    /**
     * Workaround strict reserved word to access Harp `public` variable.
     */
    const DEFAULT_ROOT = public;
    
    class Website {

        constructor({
            root = DEFAULT_ROOT, name, url, sourceUrl, thumbnailsFolder, 
            authentifications, socialProfiles
        }) {
            this._root = root;
            this._name = name;
            this._url = url;
            this._sourceUrl = sourceUrl;
            this._thumbnailsFolder = thumbnailsFolder;
            this._authentifications = authentifications;
            this._socialProfiles = socialProfiles;
        }

        get root() {
            return this._root;
        }

        /**
         * @returns {String} the name of this website.
         */
        get name() {
            return this._name;
        }

        /**
         * @returns {String} the URL of this website.
         */
        get url() {
            return this._url;
        }

        /**
         * @returns {String} the source URL of this website.
         */
        get sourceUrl() {
            return this._sourceUrl;
        }

        /**
         * @returns {Object} the authentification codes of this website as 
         * attributes.
         */
        get authentifications() {
            return this._authentifications;
        }

        /**
         * Retrieves the data of a directory at the specified path.
         * @param {String[]} path the path of directory. 
         */
        directory(path) {
            let directory = this.root;
            for (let i = 0; i < path.length; i++) {
                directory = directory[path[i]];
            }
            return directory;
        }

        /**
         * Retrieves the contents of a directory at the specified path.
         * @param {String[]} path the path of directory.
         */
        contents(path) {
            return this.directory(path)._contents;
        }

        /**
         * Retrieves the data of a directory at the specified path.
         * @param {String[]} path the path of directory.
         */
        data(path) {
            return this.directory(path)._data;
        }

    }
    
    /**
     * The current website.
     */
    const WEBSITE = new Website(DEFAULT_ROOT._data.website);