-
    class Site {

        /**
         * @returns {String} the name of this site.
         */
        get name() {
            return this._name;
        }

        /**
         * @returns {String} the URL of this site.
         */
        get url() {
            return this._url;
        }

        /**
         * @returns {String} the sourc URL of this site.
         */
        get sourceUrl() {
            return this._sourceUrl;
        }

        /**
         * @returns {Object} the authentification codes of this site as 
         * attributes.
         */
        get authentifications() {
            return this._authentifications;
        }

    }

    //TODO:
    //const SITE = new Site();