ol#articles{
    > li {
        &:nth-child(even){
            background: $primary-light;
        }
        &:nth-child(odd){
            .breadcrumbs {
                background: white;
            }
        }
    }
    a {
        text-decoration: none;
    }
}