@mixin module($border-color) {
    border-color: $border-color;
    > header {
        background: $border-color;
    }
}

.module {
    > header {
        color: white;
        font-family: $font-arimo;
        h1, h2, h3, h4, h5, h6 {
            font-size: $font-size;
            margin: 0;
            padding: 0;
            display: inline-block;
        }
    }
    &.definition {
        @include module($primary-green);
    }
    &.example {
        @include module($primary-orange);
    }
    &.theorem {
        @include module($primary-red);
    }
    &.proof {
        @include module($secondary-red);
    }
    &.exercise {
        @include module($primary-blue);
    }
    &.solution {
        @include module($secondary-blue);
    }
}