section {
    &.module > header {
        color: white;
        font-family: $font-arimo;
    }
    @mixin module($border-color) {
        border-color: $border-color;
        > header {
            background-color: $border-color;
        }
    }
    &.definition {
        @include module($primary-green);
    }
    &.example {
        @include module($primary-orange);
    }
    &.theorem {
        @include module($primary-red);
    }
    &.proof {
        @include module($secondary-red);
    }
    &.exercise {
        @include module($primary-blue);
    }
    &.solution {
        @include module($secondary-blue);
    }
}