include ../redaction/_math
//- Includes `var inlineMathPrefix, inlineMathSuffix, 
    displayedMathPrefix, displayedMathSuffix;`

//- MathJax configuration
script(type="text/x-mathjax-config").
    MathJax.Hub.Config({
        "fast-preview":{disabled:true},
        jax:["input/TeX","output/SVG"],
        TeX:{equationNumbers:{autoNumber:"AMS"}},
        SVG:{linebreaks:{automatic:true}}
    });
//- MathJax script reference
script(
    async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML" 
    integrity="sha256-SDRP1VVYu+tgAGKhddBSl5+ezofHKZeI+OzxakbIe/Y=" 
    crossorigin="anonymous"
)