include ../redaction/_math
//- Includes `var inlineMathPrefix, inlineMathSuffix, 
    displayedMathPrefix, displayedMathSuffix;`

//- MathJax configuration
script(type="text/x-mathjax-config").
    MathJax.Hub.Config({
        "fast-preview":{disabled:true},
        jax: ["input/TeX","CommonHtml"],
        extensions: ["tex2jax.js"],
        TeX: {
            equationNumbers:{autoNumber:"AMS"},
            extensions: ["AMSmath.js","AMSsymbols.js"]
        }
    });
//- MathJax script reference
script(
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js"
    integrity="sha256-fCth3p2B4cZMzlr7OFizmo5RkdJAHJ4vOHpE7FaNcR8="
    crossorigin="anonymous" 
)