extends /_jade/layout/_footer

include /_jade/components/_site-social-links

//- @Override
block links
    -var currentYear = new Date().getFullYear()
    li: a © 2016-#{currentYear}
    li: a(href='/') <i class="fa fa-fw fa-home"></i>NDCB
    li: a(href='https://github.com/NDCB/ndcb.github.io-source' target='_blank') <i class="fa fa-fw fa-code"></i>Source
    li: a(href='/fr_CA/plan-du-site.html') <i class="fa fa-fw fa-map-signs"></i>Plan du site
    li: a(href='/fr_CA/a-propos.html') <i class="fa fa-fw fa-info"></i>À propos

//- @Override
block social-links
    li: +rssFeed("Flux RSS")
    li: +facebookPage("Page Facebook")
    li: +twitterFeed("Fil Twitter")
    li: +youtubeChannel("Chaîne YouTube")
    li: +googlePlusProfile("Profil Google+")
    li: +githubProfile("Profil Github")
    li: +sendEmail("Contacter via e-mail")