figure {
    margin-top: 1rem;
    @include breakpoint($break-print) {
        width: 50%;
        margin: auto;
    }
    figcaption {
        header {
            display: inline-block;
        }
    }
}