.module {
    border-style: solid;
    border-width: 4px;
    margin-top: 1rem;
    .content {
        padding: 1rem;
    }
    > header, > footer {
        width: 100%;
        padding: 0.5rem;
        position: relative;
        h1, h2, h3, h4, h5, h6 {
            margin: 0;
            margin-right: 1rem;
            padding: 0;
            display: inline-block;
        }
    }
    > footer {
        text-align: right;
    }
    i.toggler {
        position: absolute;
        top: 0.5em;
        right: 0;
        @include respond-to(print) {
            display: none;
        }
    }
}