.toggler {
    // Prevent highlighting
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    @include breakpoint($break-xl) {
        transition: 0.3s;
    }
}

.rotate {
    $transform: rotate(-180deg);
    transform: $transform;
    -webkit-transform: $transform;
    -ms-transform: $transform;
    @include breakpoint($break-xl) {
        transition: 0.3s;
    }
}

[aria-expanded="false"] {
	display: none;
}