include ../model
-console.log(moment().format() + " Processing " + DOCUMENT.link.relativePath);
doctype html
html(lang=LOCALE.slug)
    include _head/head
    include _body
    script(src='/js/main.min.js')