-
    public._data.website.locales = _locales;
    public._data.website.persons = _persons;
    const WEBSITE = new Website(Object.defineProperty(
        public._data.website, 'root', {value: public, writable: false}));
    const CURRENT_PATH = current.path;
    const LOCALE = Locale.parse(WEBSITE, CURRENT_PATH);
    const DOCUMENT = WebDocument.parse(WEBSITE, CURRENT_PATH);