mixin articleSummary(article)
    li: section.article-summary
            header
                a(href!=article.path)!=article.info.headline
            !=article.info.description
            footer
                ul.meta
                    -
                        var locale = public._data.locales[article.locale];
                        var variables = locale.variables;
                        var promptPublished = variables.metaPrompts.published;
                        var promptModified = variables.metaPrompts.modified;
                        var promptAuthor = variables.metaPrompts.writtenBy;
                    if article.info.published
                        li
                            !=promptPublished + ": "
                            time(datetime!=article.info.published)!=stringDate(article.info.published, article.locale)
                    if article.info.published
                        li 
                            !=promptModified + ": "
                            time(datetime!=article.info.modified)!=stringDate(article.info.modified, article.locale)
                    if article.info.authors
                        li: !=promptAuthor + ": "
                            ul.authors
                                each author in article.info.authors
                                    li
                                        !=author