include ../base/_breadcrumbs

-
    var prompts;
    if (Current.locale()) {
        let localeVariables = Current.locale().variables;
        prompts = localeVariables.prompts;
    } else {
        prompts = {
            published: '',
            modified: ''
        };
    }
mixin articleSummary(article) 
    li: section.article-summary
        header
            h2: a(href!=article.path)!=article.headline
            -
                let breadcrumbs = Breadcrumbs.parse(
                    Utils.parsePathFragments(article.path)
                );
            if breadcrumbs
                +breadcrumbs(breadcrumbs)
        span.description!=article.description
        footer
            ul.meta
                if article.publicationDate
                    li.publicationDate
                        i.fa.fa-fw.fa-calendar-plus-o
                        !=prompts.published + ' '
                        time(
                            datetime!=article.publicationDate.raw 
                        )!=article.publicationDate.write()
                if article.lastestModificationDate
                    li.lastestModificationDate
                        i.fa.fa-fw.fa-calendar-check-o
                        !=prompts.modified + ' '
                        time(
                            datetime!=article.lastestModificationDate.raw 
                        )!=article.lastestModificationDate.write()
                if article.authors.length > 0
                    li
                        ul.authors
                            for author in article.authors
                                li.author: a(href!=author.path)!=author.fullName