include /_jade/base/_functions
include /_jade/mixins/helper/_icon-stack-button

-var backgroundIconClass = "fa-square";

//- Comment icon
li: a.comment(
        href="#disqus_thread"
        rel="nofollow"
    )
    +iconStackButton("fa-comment", backgroundIconClass)