include ../model/_model.js.jade

-
    const locale = Current.locale();
    if (!locale) {
        throw new Error("Undefined locale");
    }
    if (!locale.variables.customSearchEngineId) {
        throw new Error("Undefined custom search engine ID");
    }
style:  include:scss /css/_sass/components/_custom-search-engine.scss
script.
    (function() {
        var cx = '#{locale.variables.customSearchEngineId}';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
    })();
p:  gcse:search