include /_jade/base/_functions
#disqus_thread
script(defer type="text/javascript").
    var disqus_config = function () {
        //TODO: Test normal function declaration
        this.page.url = "#{getCurrentUrl()}";
    };
    (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://ndcb.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
noscript Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>