include /_jade/base/_functions
include /_jade/base/_navigation-functions
-
    var locales = listLocales();
    var pages = listMainPages();
    var categories = listCategories();

//- Recursively lists all available categories defined 
    above with togglers.
mixin listCategories(root)
    ul
        each category in root
            li 
                a(href!=category.url)!=category.headline
                if category.categories
                    i.fa.fa-fw.fa-caret-down.toggler(collapsed)
                    +listCategories(category.categories)

//- Standard main navigation items structure.
ul
    //- If the current document is within a locale
    if getCurrentLocaleRoot()
        each page in pages
            li: a(href!=page.url)
                if page.icon
                    i.fa.fa-fw(class!="fa-" + page.icon)
                !=page.headline
        each category in categories
            li
                a(href!=category.url)!=category.headline
                if category.categories
                    i.fa.fa-fw.fa-caret-down.toggler(collapsed)
                    +listCategories(category.categories)
    else 
        each locale in locales
            li: a(href!=locale.url) 
                i(class!="flag-icon flag-icon-" + locale.countryCode)
                !=locale.headline