include _jquery
//- Custom script reference
script(
    defer 
    type="text/javascript" 
    src="/js/main.js"
    )
script(
    defer 
    type="text/javascript" 
    src="/js/share.js"
    )
include _google-analytics