include ../model/_model.js.jade
include _article-summary

-
    //Retrieve the articles of the current locale
    let articles = Index.listArticles(Current.locale());

    /**
     * Sorts the articles from the most recently published to the least recently 
     * published.
     */
    articles.sort(function (a, b) {
        let dateA = a.publicationDate;
        let dateB = b.publicationDate;
        if (dateA === undefined) {
            return 1;
        } else if (dateB === undefined) {
            return -1;
        } else if (dateA === dateB) {
            return 0;
        } else {
            dateA = dateA.raw;
            dateB = dateB.raw;
            return dateA > dateB ? -1 : 1;
        }
    });

//- Provides a listing of all available articles from the locale of the current
    document.
ol#articles
    for article in articles
        //- If the article is published
        if article.publicationDate
            li: +articleSummary(article)