h1 Site
h2 Content
details
    pre!=Utils.stringify(Site.content())
h2 Locales
details
    pre!=Utils.stringify(Site.locales())
h2 Globals
details
    pre!=Utils.stringify(Site.globals())
h2 Person fetch
details
    pre!=Utils.stringify(Person.parsePerson("marc-antoine-ouimet", "fr-CA"))
h2 Flattened articles
details
    
h2 Flattened pages
details
